In [79]:
import pandas as pd
import numpy as np
import sqlite3
import re

conn = sqlite3.connect("profiles.db")
cursor = conn.cursor()
cursor.execute("ATTACH DATABASE 'colleges.db' AS colleges")

In [119]:
#TODO: Cluster Universities + Get Mean Values + Reassign to profiles on join
import re, math
from sklearn.cluster import KMeans

def get_type_map(df_column):
    return {t:i for i, t in enumerate(set(df_column))}

df = pd.read_sql_query("SELECT * from colleges.university_profiles where institution_type like '%Public%'",conn)
dfc = df.drop("school", axis=1)
# CLEAN UNIVERSITY DATA
# drop sat averages
for col in ['sat_math', 'sat_reading', 'sat_writing', 'average_freshman_aid', 'international_percent', 'city', 'state', 'institution_type']:
    dfc = dfc.drop(col, axis=1)
    df = df.drop(col,axis=1)

# remove duplicate school column
dfc = dfc.loc[:,~dfc.columns.duplicated()]
df = df.loc[:,~df.columns.duplicated()]

# handle nones in all columns
dfc.fillna(value=pd.np.nan, inplace=True)
df.fillna(value=pd.np.nan, inplace=True)
# remove - in avg_act
dfc['avg_act'] = dfc['avg_act'].map(lambda x: str(x).strip('-'))
df['avg_act'] = df['avg_act'].map(lambda x: str(x).strip('-'))
# cost attendance in state vs out state
dfc['cost_attendance'] = dfc['cost_attendance'].map(lambda x: x[x.find("$")+1:x.find("<")-1] if not isinstance(x,float) else x)
df['cost_attendance'] = df['cost_attendance'].map(lambda x: x[x.find("$")+1:x.find("<")-1] if not isinstance(x,float) else x)
# fix faculty total none as string bug
dfc["faculty_total"] = dfc["faculty_total"].map(lambda x : None if x == "None" else x)
df["faculty_total"] = df["faculty_total"].map(lambda x : None if x == "None" else x)
# weird act nan bug
dfc = dfc[dfc.avg_act != "nan"]
df = df[df.avg_act != "nan"]

dfc = dfc[dfc.avg_act != None]
df = df[df.avg_act != None]

dfc = dfc[dfc.avg_gpa != None]
df = df[df.avg_gpa != None]

dfc = dfc.dropna()
df = df.dropna()

dfc = dfc[dfc.avg_act != '9 a']
df = df[df.avg_act != '9 a']

def getNextTableIndex(index,j):
    isValid = False
    while(not isValid):
        try:
            df['avg_gpa'][index]
            return index, j+1
        except:
            index += 1
            
points = []
i = 0
j=0
while i < len(dfc.index):
    i, j = getNextTableIndex(i,j)
    point = []
    for col in dfc.columns.values:
        point.append(dfc[col].get(i))
    points.append(point)
    i += 1
cluster = KMeans(n_clusters=240, max_iter=500).fit(points)
i = 0
j = 0
while i < len(dfc.index):
    label = cluster.labels_[j]
    i, j = getNextTableIndex(i,j)
    for c,col in enumerate(dfc.columns.values):
        df.set_value(i, col, cluster.cluster_centers_[label][c])
    i += 1
dfc = df

print(dfc)

                                                school avg_gpa avg_act  \
0                         Ramapo College of New Jersey    3.37      21
2              Shippensburg University of Pennsylvania   3.255    21.5
4                           Penn State University Park    3.58      28
5             Slippery Rock University of Pennsylvania    3.42      22
6                 Penn State Erie, The Behrend College    3.31      22
7                University of Massachusetts Dartmouth    3.23      23
8                Southern Connecticut State University       3      20
9                                Penn State Harrisburg    3.22      22
10                        University of Southern Maine    3.16      19
11                          University of Rhode Island    3.53      26
13                                University at Albany     3.2      24
14                               Binghamton University     3.7      29
15                               University at Buffalo     3.6      26
16                            University of Pittsburgh    4.14      29
17                              Stony Brook University    3.83      28
18                                College at Brockport   3.175    23.5
19                University of Pittsburgh at Bradford     3.3      22
20                               Buffalo State College     3.1      20
21               University of Pittsburgh at Johnstown    3.51      23
22    State University of New York College at Cortland    3.44      22
23   State University of New York College of Enviro...    3.75      26
24            State University of New York at Fredonia    3.16      24
26     State University of New York College at Geneseo    3.63      27
27           State University of New York at New Paltz     3.6      25
29     State University of New York College at Oneonta    3.43      23
30              State University of New York at Oswego   3.175    23.5
31            State University of New York Plattsburgh    3.27      23
33                                    Purchase College    3.24      20
34   State University of New York Institute of Tech...     3.7      26
35       State University of New York Maritime College     3.3      25
..                                                 ...     ...     ...
514                  University of Wisconsin - Madison    3.84      29
516                University of Wisconsin - Green Bay    3.33      22
518                            Winona State University    3.35      20
519                        Western Michigan University    3.37      23
520                        Western Illinois University    3.22      21
521                             Wayne State University    3.36      25
522                               University of Toledo    3.39      20
524                          Missouri State University    3.63      21
525                     University of Southern Indiana    3.36      22
526          Southern Illinois University Edwardsville    3.46      23
527            Southern Illinois University Carbondale    3.14      20
528                Southeast Missouri State University    3.44      23
529                                  Purdue University    3.75      29
530              University of Illinois at Springfield    3.58      24
531                           Indiana State University    3.12      20
532                                 University of Iowa    3.63      23
533                  Michigan Technological University    3.72      27
534                          Michigan State University    3.71      26
537                Northwest Missouri State University    3.39      22
538                                 Oakland University    3.47      24
539                            Truman State University    3.79      27
540                        Eastern Illinois University    3.08      21
541                              Iowa State University    3.52      25
543                        Purdue University Northwest    3.44      22
544                    Saginaw Valley State University    3.44      23
546                         Henderson State University    3.23      22
548                      Jacksonville State University    3.35      23
549                 University of Massachusetts Lowell    3.55      26
550           California State University Monterey Bay    3.41      18
551                            Rogers State University    3.09      20

    cost_attendance admission_rate faculty_total female_percentage
0              3083             57           216              55.4
2            2859.5           81.5         303.5             53.55
4              3634             50          2679              46.7
5              2437             71           349              56.7
6              3309             89           271              33.3
7              2937             84           401              48.6
8              2297             64           423              61.6
9              3475             84           226              38.6
10             1962             80           265              57.5
11             2480             69           757              56.4
13             2555             54           676              50.6
14             2610             40           754              49.1
15             2746             57          1283              43.1
16             3325             60          1791              51.5
17             2547             42          1075              46.7
18           2408.5           53.5         374.5             53.15
19             2828             49            75              54.9
20             2470             60           374              56.2
21             2825             88           137                44
22             2447             48           309              56.2
23             2723             52           116                47
24             2077             65           252              57.6
26             2512             72           255              60.3
27             2439             44           351              61.2
29             2399             60           286              59.7
30           2408.5           53.5         374.5             53.15
31             2523             53           269              57.5
33             2635             44           167              56.9
34             2383             62           138              34.2
35             2530             69            92              11.6
..              ...            ...           ...               ...
514            2569             54          2392              51.2
516            1954             92           185              66.8
518            2176             66           338              63.3
519            2543             82           926              49.6
520             244             60           556              50.6
521            2759             67          1034              55.6
522            2717             94           777              49.2
524            1694             84           753              58.1
525            2065             94           352              62.2
526             256             90           595              53.0
527            2565             76           833              46.4
528            2100             85           409              58.1
529            2118             57          2287              42.8
530            2800             52           215              49.5
531            2226             85           460              54.8
532            1793             81          1484              51.7
533            2910             74           416              27.0
534            2842             72          2519              50.5
537            2231             74           241              57.2
538            2512             84           589              56.0
539            2143             67           324              58.6
540            2363             47           419              60.8
541            2060             89          1561              42.5
543            2245             92           379              57.0
544            2184             74           291              59.1
546            2093             66           177              57.1
548            2241             53           315              57.0
549            2991             69           616              38.4
550            2336             53           165              62.8
551            1989             14           102              59.9

[371 rows x 7 columns]

/home/marclane/.local/lib/python3.6/site-packages/ipykernel_launcher.py:74: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [120]:
df = pd.read_sql_query("SELECT * FROM profiles",conn)

In [121]:
def get_type_map(df_column):
    return {t:i for i, t in enumerate(set(df_column))}

def convert_sat_to_act(sat):
    if np.isnan(sat):
        return np.nan
    sat_scores = np.array([990, 1060, 1140, 1210, 1270, 1330, 1390, 1450, 1510, 1560, 1620, 1680, 1740, 1800, 1860, 1920, 1980, 2020, 2080, 2140, 2220, 2290, 2380, 2410])
    return np.where(sat < sat_scores)[0][0] + 13
    
def combine_test_scores(x):
    if not np.isnan(x['act']):
        return x['act']/36.0
    sat = np.array([x['sat_m'], x['sat_r'], x['sat_w']])
    return convert_sat_to_act(3*sat[~np.isnan(sat)].mean())/36.0 if len(sat[np.isnan(sat)]) != 3 else np.nan

def convert_string(x):
    try:
        return int(x)
    except:
        return np.nan

def combine_avg_test_scores(x):
    if not np.isnan(convert_string(x['avg_act'])):
        return convert_string(x['avg_act'])/36.0
    sat = np.array([convert_string(x['sat_math']), convert_string(x['sat_reading']), convert_string(x['sat_writing'])])
    return convert_sat_to_act(3*sat[~np.isnan(sat)].mean())/36.0 if len(sat[np.isnan(sat)]) != 3 else np.nan

def map_statuses(x):
    status_map = {"Denied": 0, "Deferred": 0, "Wait-Listed": 0, "Accepted": 2, "Will Attend": 2}
    return status_map[x['status']]

def convert_class_rank(x):
    s = str(x['class_rank'])
    if " of " in s:
        return float(s[:s.index(" of ")])/float(s[s.index(" of ") + 4:])
    if "Top " in s:
        return float(s[4:s.index("%")])/100.0
    if "Bottom " in s:
        return float(s[7:s.index("%")])/100.0
    return np.nan

def convert_instate_tuition(x):
    if "<br>" in str(x['cost_attendance']):
        instate = x['cost_attendance'].split("<br>")[0]
        return instate[instate.index("$")+1:]
    else:
        return x['cost_attendance']

def convert_outstate_tuition(x):
    if "<br>" in str(x['cost_attendance']):
        outstate = x['cost_attendance'].split("<br>")[1]
        return outstate[outstate.index("$")+1:]
    else:
        return x['cost_attendance']

def get_tuition(x):
    return x['in_state_tuition'] if x['state'] == x['hs_state'] else x['out_state_tuition']

def map_hs_types(x):
    hs_type_map = {"Public": 0, "Private": 1, "Parochial": 2, "Home": 3}
    return hs_type_map[x['hs_type']]

def map_ins_types(x):
    ins_type_map = {"Public": 0, "Private": 1, "Private for-profit": 1, "&nbsp;": np.nan}
    return ins_type_map[x['institution_type']]

In [122]:
df = df.loc[:,~df.columns.duplicated()]
df.fillna(value=pd.np.nan, inplace=True)
df['test_score'] = df.apply(combine_test_scores, axis=1)
df['class_rank'] = df.apply(convert_class_rank, axis=1)
#df['tuition'] = df.apply(get_tuition, axis=1)
df = pd.merge(dfc, df, left_on = 'school', right_on = 'school')
print(df)
for col in ['school', 'sat_m', 'sat_r', 'sat_w', 'act', 'avg_act', 'gpa_w']:
    df = df.drop(col, axis=1)
df = df.dropna()#subset=['test_score','avg_test_score','gpa_uw','class_rank','hs_state','hs_type','institution_type'])

df['status'] = df.apply(map_statuses, axis=1)
df['hs_type'] = df.apply(map_hs_types, axis=1)
replace_columns = ['hs_state', 'gender']
for col in replace_columns:
    df[col].replace(get_type_map(df[col]), inplace=True)

                                         school avg_gpa avg_act  \
0                  Ramapo College of New Jersey    3.37      21
1                  Ramapo College of New Jersey    3.37      21
2                  Ramapo College of New Jersey    3.37      21
3                  Ramapo College of New Jersey    3.37      21
4                  Ramapo College of New Jersey    3.37      21
5                  Ramapo College of New Jersey    3.37      21
6                  Ramapo College of New Jersey    3.37      21
7                  Ramapo College of New Jersey    3.37      21
8                  Ramapo College of New Jersey    3.37      21
9                  Ramapo College of New Jersey    3.37      21
10                 Ramapo College of New Jersey    3.37      21
11                 Ramapo College of New Jersey    3.37      21
12                 Ramapo College of New Jersey    3.37      21
13                 Ramapo College of New Jersey    3.37      21
14                 Ramapo College of New Jersey    3.37      21
15                 Ramapo College of New Jersey    3.37      21
16                 Ramapo College of New Jersey    3.37      21
17                 Ramapo College of New Jersey    3.37      21
18                 Ramapo College of New Jersey    3.37      21
19                 Ramapo College of New Jersey    3.37      21
20                 Ramapo College of New Jersey    3.37      21
21                 Ramapo College of New Jersey    3.37      21
22                 Ramapo College of New Jersey    3.37      21
23                 Ramapo College of New Jersey    3.37      21
24                 Ramapo College of New Jersey    3.37      21
25                 Ramapo College of New Jersey    3.37      21
26                 Ramapo College of New Jersey    3.37      21
27                 Ramapo College of New Jersey    3.37      21
28                 Ramapo College of New Jersey    3.37      21
29                 Ramapo College of New Jersey    3.37      21
...                                         ...     ...     ...
31929  California State University Monterey Bay    3.41      18
31930  California State University Monterey Bay    3.41      18
31931  California State University Monterey Bay    3.41      18
31932  California State University Monterey Bay    3.41      18
31933  California State University Monterey Bay    3.41      18
31934  California State University Monterey Bay    3.41      18
31935  California State University Monterey Bay    3.41      18
31936  California State University Monterey Bay    3.41      18
31937  California State University Monterey Bay    3.41      18
31938  California State University Monterey Bay    3.41      18
31939  California State University Monterey Bay    3.41      18
31940  California State University Monterey Bay    3.41      18
31941  California State University Monterey Bay    3.41      18
31942  California State University Monterey Bay    3.41      18
31943  California State University Monterey Bay    3.41      18
31944  California State University Monterey Bay    3.41      18
31945  California State University Monterey Bay    3.41      18
31946  California State University Monterey Bay    3.41      18
31947  California State University Monterey Bay    3.41      18
31948  California State University Monterey Bay    3.41      18
31949  California State University Monterey Bay    3.41      18
31950  California State University Monterey Bay    3.41      18
31951  California State University Monterey Bay    3.41      18
31952  California State University Monterey Bay    3.41      18
31953  California State University Monterey Bay    3.41      18
31954  California State University Monterey Bay    3.41      18
31955  California State University Monterey Bay    3.41      18
31956                   Rogers State University    3.09      20
31957                   Rogers State University    3.09      20
31958                   Rogers State University    3.09      20

      cost_attendance admission_rate faculty_total female_percentage  year  \
0                3083             57           216              55.4  2009
1                3083             57           216              55.4  2010
2                3083             57           216              55.4  2011
3                3083             57           216              55.4  2011
4                3083             57           216              55.4  2011
5                3083             57           216              55.4  2011
6                3083             57           216              55.4  2011
7                3083             57           216              55.4  2011
8                3083             57           216              55.4  2011
9                3083             57           216              55.4  2012
10               3083             57           216              55.4  2012
11               3083             57           216              55.4  2013
12               3083             57           216              55.4  2013
13               3083             57           216              55.4  2013
14               3083             57           216              55.4  2013
15               3083             57           216              55.4  2013
16               3083             57           216              55.4  2013
17               3083             57           216              55.4  2014
18               3083             57           216              55.4  2014
19               3083             57           216              55.4  2014
20               3083             57           216              55.4  2014
21               3083             57           216              55.4  2014
22               3083             57           216              55.4  2014
23               3083             57           216              55.4  2015
24               3083             57           216              55.4  2015
25               3083             57           216              55.4  2015
26               3083             57           216              55.4  2016
27               3083             57           216              55.4  2016
28               3083             57           216              55.4  2017
29               3083             57           216              55.4  2017
...               ...            ...           ...               ...   ...
31929            2336             53           165              62.8  2013
31930            2336             53           165              62.8  2013
31931            2336             53           165              62.8  2013
31932            2336             53           165              62.8  2013
31933            2336             53           165              62.8  2014
31934            2336             53           165              62.8  2014
31935            2336             53           165              62.8  2014
31936            2336             53           165              62.8  2014
31937            2336             53           165              62.8  2014
31938            2336             53           165              62.8  2015
31939            2336             53           165              62.8  2015
31940            2336             53           165              62.8  2016
31941            2336             53           165              62.8  2016
31942            2336             53           165              62.8  2017
31943            2336             53           165              62.8  2017
31944            2336             53           165              62.8  2017
31945            2336             53           165              62.8  2017
31946            2336             53           165              62.8  2018
31947            2336             53           165              62.8  2018
31948            2336             53           165              62.8  2018
31949            2336             53           165              62.8  2019
31950            2336             53           165              62.8  2019
31951            2336             53           165              62.8  2019
31952            2336             53           165              62.8  2020
31953            2336             53           165              62.8  2020
31954            2336             53           165              62.8  2020
31955            2336             53           165              62.8  2020
31956            1989             14           102              59.9  2015
31957            1989             14           102              59.9  2016
31958            1989             14           102              59.9  2018

      gender hs_type     ...      sat_m  sat_r  sat_w   act  class_rank  \
0          f  Public     ...      640.0  490.0    NaN   NaN    0.193846
1          f  Public     ...      690.0  610.0  590.0   NaN         NaN
2          f  Public     ...      690.0  640.0  660.0   NaN    0.009434
3          f  Public     ...      570.0  600.0  620.0   NaN    0.100000
4          m  Public     ...      540.0  510.0  510.0   NaN    0.250000
5          m  Public     ...      640.0  610.0  630.0   NaN    0.500000
6          f  Public     ...      630.0  560.0  610.0  24.0    0.145548
7          f  Public     ...      620.0  680.0  660.0   NaN    0.360000
8          f  Public     ...      640.0  640.0  630.0   NaN         NaN
9          m  Public     ...      480.0  560.0  640.0   NaN         NaN
10         f  Public     ...      670.0  730.0  760.0   NaN    0.071429
11         f  Public     ...      550.0  540.0  570.0   NaN    0.318548
12         f  Public     ...      610.0  540.0  520.0  22.0         NaN
13         f  Public     ...        NaN    NaN    NaN   NaN    0.250000
14         f  Public     ...      660.0  650.0  680.0  31.0    0.177326
15         f  Public     ...      480.0  520.0  500.0   NaN    0.328904
16         m  Public     ...      660.0  640.0  680.0   NaN         NaN
17         f  Public     ...      580.0  570.0  560.0  24.0    0.053613
18         f  Public     ...      580.0  500.0  560.0  24.0         NaN
19         f  Public     ...      580.0  530.0  550.0  25.0         NaN
20         f  Public     ...        NaN    NaN    NaN  26.0         NaN
21         f  Public     ...      560.0  560.0  650.0   NaN         NaN
22         f  Public     ...      650.0  640.0  770.0  28.0         NaN
23         m  Public     ...      600.0  450.0  480.0  23.0    0.500000
24         f  Public     ...      580.0  580.0  590.0   NaN    0.250000
25         f  Public     ...      590.0  490.0  600.0  25.0    0.500000
26         f  Public     ...      610.0  520.0  600.0  27.0    0.140000
27         m  Public     ...        NaN    NaN    NaN  33.0    0.100000
28         f  Public     ...      650.0  580.0  530.0   NaN    0.250000
29         f  Public     ...      640.0  590.0  510.0  27.0    0.109524
...      ...     ...     ...        ...    ...    ...   ...         ...
31929      f  Public     ...      630.0  540.0  600.0   NaN    0.100000
31930      f  Public     ...      450.0  550.0  540.0   NaN    0.579795
31931      f  Public     ...      480.0  540.0  530.0  21.0    0.438356
31932      f  Public     ...        NaN    NaN    NaN  26.0    0.127273
31933      f  Public     ...        NaN    NaN    NaN  23.0         NaN
31934      m  Public     ...      600.0  630.0  590.0   NaN    0.071429
31935      f  Public     ...      560.0  640.0  660.0   NaN    0.250000
31936      f  Public     ...      490.0  610.0  510.0   NaN         NaN
31937      f  Public     ...        NaN    NaN    NaN   NaN         NaN
31938      f  Public     ...      520.0  530.0  530.0  22.0    0.059081
31939      m  Public     ...      610.0  540.0  540.0   NaN    0.120301
31940      m  Public     ...        NaN    NaN    NaN  17.0    0.391796
31941      f  Public     ...        NaN    NaN    NaN  32.0    0.100000
31942      m  Public     ...      500.0  580.0  630.0   NaN    0.240964
31943      f  Public     ...      490.0  600.0  570.0  22.0    0.100000
31944      f  Public     ...      540.0  380.0  450.0   NaN    0.223247
31945      f  Public     ...        NaN    NaN    NaN   NaN    0.500000
31946      m  Public     ...      510.0  570.0  580.0  27.0    0.058685
31947      f  Public     ...      500.0  480.0  490.0   NaN    0.198830
31948      f  Public     ...        NaN    NaN    NaN  31.0         NaN
31949      f  Public     ...      430.0  480.0  480.0  18.0    0.562189
31950      n  Public     ...        NaN    NaN    NaN   NaN         NaN
31951      f  Public     ...      650.0  630.0  660.0  28.0         NaN
31952      f  Public     ...      420.0  500.0  400.0   NaN    0.205371
31953      m  Public     ...      430.0  540.0  490.0   NaN    0.125995
31954      m  Public     ...      500.0  420.0  420.0   NaN    0.679702
31955      f  Public     ...      490.0  480.0  500.0   NaN    0.250000
31956      f  Public     ...        NaN    NaN    NaN  30.0    0.041176
31957      f  Public     ...      600.0  650.0  675.0  29.0    0.019293
31958      f  Public     ...        NaN    NaN    NaN   NaN    0.100000

            status  eaed  legacy athlete  test_score
0      Will Attend     0       0       0    0.694444
1      Will Attend     1       0       0    0.777778
2      Will Attend     0       0       0    0.833333
3         Accepted     1       0       0    0.722222
4      Wait-Listed     0       0       0    0.638889
5         Accepted     1       0       0    0.777778
6         Accepted     0       0       0    0.666667
7         Accepted     0       0       0    0.805556
8         Accepted     0       0       0    0.777778
9         Accepted     0       0       0    0.694444
10     Will Attend     0       0       0    0.916667
11        Accepted     0       0       0    0.666667
12        Accepted     0       0       0    0.611111
13        Accepted     0       0       0         NaN
14        Accepted     0       0       0    0.861111
15     Will Attend     0       0       0    0.583333
16        Accepted     0       0       0    0.833333
17        Accepted     0       0       0    0.666667
18        Accepted     1       0       0    0.666667
19        Accepted     0       0       0    0.694444
20        Accepted     0       0       0    0.722222
21     Will Attend     0       0       0    0.722222
22        Accepted     0       0       0    0.777778
23     Wait-Listed     0       0       0    0.638889
24        Accepted     0       0       0    0.722222
25          Denied     0       0       0    0.694444
26        Accepted     1       0       0    0.750000
27        Accepted     0       0       0    0.916667
28        Accepted     0       0       0    0.722222
29        Accepted     0       0       0    0.750000
...            ...   ...     ...     ...         ...
31929     Accepted     0       0       0    0.722222
31930     Accepted     0       0       0    0.611111
31931     Accepted     0       0       0    0.583333
31932     Accepted     0       0       0    0.722222
31933       Denied     0       0       0    0.638889
31934     Accepted     0       0       0    0.750000
31935     Accepted     0       0       0    0.777778
31936     Accepted     0       0       0    0.638889
31937  Will Attend     0       0       0         NaN
31938     Accepted     0       0       0    0.611111
31939  Will Attend     0       0       0    0.694444
31940  Will Attend     0       0       0    0.472222
31941     Accepted     0       0       0    0.888889
31942  Will Attend     0       0       0    0.694444
31943     Accepted     0       0       0    0.611111
31944     Accepted     0       0       0    0.527778
31945     Accepted     0       0       0         NaN
31946  Will Attend     0       0       0    0.750000
31947  Will Attend     0       0       0    0.583333
31948       Denied     0       0       0    0.861111
31949  Will Attend     0       0       1    0.500000
31950     Accepted     0       0       0         NaN
31951     Accepted     0       0       0    0.777778
31952     Accepted     0       0       0    0.500000
31953  Will Attend     0       0       0    0.583333
31954     Accepted     0       0       0    0.527778
31955     Accepted     0       0       0    0.583333
31956     Accepted     0       0       0    0.833333
31957  Will Attend     0       0       0    0.805556
31958  Will Attend     0       0       0         NaN

[31959 rows x 23 columns]

In [123]:
print(len(df.index))

22758

In [124]:
df.sample(n=100)

,avg_gpa,cost_attendance,admission_rate,faculty_total,female_percentage,year,gender,hs_type,hs_state,gpa_uw,class_rank,status,eaed,legacy,athlete,test_score
29284,3.71,2779,65,1198,57.6,2015,1,0,52,3.85,0.073477,2,0,0,0,0.694444
29460,3.56,2336,74,1021,49.2,2017,2,2,43,3.30,0.100000,2,0,1,0,0.944444
14596,3.7,2822,35,876,54.2,2015,2,1,16,3.77,0.074380,2,0,0,0,0.833333
222,3.58,3634,50,2679,46.7,2012,1,0,2,3.20,0.289398,2,0,0,0,0.694444
20851,3.24,2111,100,597,56.5,2012,1,0,4,3.12,0.435685,2,0,0,0,0.583333
21969,3.93,2250,50,1572,54.3,2019,1,0,52,3.80,0.100000,2,0,0,0,0.805556
838,3.58,3634,50,2679,46.7,2018,1,0,52,3.80,0.100000,2,0,0,0,0.777778
31633,3.08,2363,47,419,60.8,2009,1,0,53,2.96,0.500000,2,1,0,0,0.694444
8499,3.86,3128,84,1330,48.7,2013,2,0,9,3.35,0.403259,2,0,0,0,0.583333
3792,3.26,2423,92,512,47.2,2010,2,0,40,3.70,0.100000,2,0,0,0,0.833333
8705,3.42,2547,68,690,55.7,2017,1,0,4,3.28,0.500000,2,0,0,0,0.555556
24536,3.59,2641,77,893,59.8,2010,2,0,1,3.54,0.256494,2,0,0,0,0.777778
17845,3.87,3577,15,1623,52.1,2014,2,0,4,4.00,0.001290,2,0,0,0,0.944444
5324,3.89,3025,57,1351,49.8,2019,2,0,18,3.40,0.225225,2,0,0,0,0.722222
5681,3.04,2351,80,210,52.9,2016,1,0,18,2.25,0.467045,0,0,0,0,0.444444
13552,3.1,1379,99,173,62.9,2020,1,0,30,3.10,0.500000,2,0,0,0,0.805556
6384,3.84,2952,29,2791,49.8,2013,1,0,47,4.00,0.003460,0,0,0,0,0.944444
5398,3.42,2289,69,694,58.9,2013,2,0,52,3.48,0.287383,2,0,0,0,0.583333
3142,3.83,2547,42,1075,46.7,2019,2,0,52,3.40,0.500000,2,0,0,0,0.777778
27214,4.67,2381,24,1672,58.8,2017,2,0,38,4.00,0.001828,2,0,0,0,0.972222
11500,3.79,2594,46,2055,52.9,2011,2,0,53,3.00,0.320000,0,0,0,0,0.861111
16992,3.28,1945,77,341,65.4,2013,1,0,4,3.97,0.022059,2,0,0,0,0.583333
31114,3.63,1793,81,1484,51.7,2019,2,0,2,3.50,0.077165,2,0,0,0,0.777778
29821,3.84,2569,54,2392,51.2,2014,1,0,51,4.00,0.035714,2,0,0,0,0.750000
29064,4.08,2346,72,1527,53.7,2020,1,0,18,3.50,0.122222,2,0,0,0,0.722222
5536,3.255,2859.5,81.5,303.5,53.55,2018,1,0,42,3.90,0.090909,2,0,0,0,0.777778
27786,4.18,2390,67,647,62.2,2018,1,0,42,3.98,0.166667,2,0,0,0,0.638889
19816,4.36,3048,18,1570,57.5,2013,1,0,4,4.00,0.014545,2,0,0,0,0.833333
18997,4.08,2753,34,1123,49.3,2015,1,0,4,3.80,0.097264,2,0,0,0,0.888889
30271,3.39,2717,94,777,49.2,2016,2,0,0,3.86,0.127500,2,0,0,0,0.888889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12226,3.2,2546,73,1054,55.8,2018,2,0,4,3.21,0.242574,2,0,0,0,0.750000
22593,4.02,3060,23,1115,38.0,2017,2,0,4,3.92,0.038462,2,1,0,0,0.888889
10476,3.4,2724,74,1368,48.9,2014,1,1,56,3.39,0.534615,2,0,0,0,0.555556
20463,4.36,3048,18,1570,57.5,2020,1,0,4,3.89,0.100000,0,0,0,0,0.750000
3686,3.27,2523,53,269,57.5,2010,1,0,10,2.63,0.312634,2,0,0,0,0.472222
30338,3.46,256,90,595,53.0,2012,1,0,53,2.90,0.250000,2,0,0,0,0.694444
24448,3.94,3093,77,1567,49.8,2017,2,0,38,3.80,0.271429,2,1,0,0,0.861111
29299,3.71,2779,65,1198,57.6,2016,2,0,10,3.96,0.100000,2,0,0,0,0.861111
26679,3.72,2397,51,2245,45.4,2018,1,0,45,3.70,0.250000,2,1,0,0,0.722222
24845,3.63,2702,77,1242,59.4,2017,2,0,10,2.80,0.500000,2,0,0,0,0.638889
12330,3.25,2603,82,250,62.3,2012,1,0,4,3.73,0.035714,2,0,0,0,0.777778
20218,4.36,3048,18,1570,57.5,2017,1,0,4,3.85,0.018927,2,0,0,0,0.750000
18454,3.87,3577,15,1623,52.1,2019,1,0,53,3.90,0.071869,0,0,0,0,0.805556
18108,3.87,3577,15,1623,52.1,2016,1,1,4,3.92,0.100000,2,0,0,0,0.916667
20405,4.36,3048,18,1570,57.5,2018,1,2,4,3.60,0.057971,0,0,0,0,0.694444
26535,3.72,2397,51,2245,45.4,2013,2,0,33,3.45,0.250000,2,1,0,0,0.750000
21662,3.51,2185,90,539,58.7,2017,2,0,9,3.60,0.194286,2,0,0,0,0.750000
12246,3.2,2546,73,1054,55.8,2018,1,0,4,3.76,0.250000,2,0,0,0,0.722222
16741,3.44,2970,74,1329,52.1,2019,1,0,53,2.97,0.250000,0,0,0,0,0.666667
18187,3.87,3577,15,1623,52.1,2017,2,0,4,3.87,0.041885,2,0,0,0,0.944444
17619,3.87,3577,15,1623,52.1,2012,2,0,4,3.78,0.108696,0,0,0,0,0.805556
14081,3.74,3609,57,976,54.3,2019,2,0,4,3.90,0.104348,2,0,0,0,0.805556
734,3.58,3634,50,2679,46.7,2017,1,2,10,3.70,0.095694,2,0,0,0,0.750000
28796,4.08,2346,72,1527,53.7,2011,1,0,1,3.46,0.125506,2,0,0,0,0.638889
21656,3.51,2185,90,539,58.7,2013,1,0,3,3.99,0.025974,2,0,0,0,0.805556
16196,3.29,1410,67,266,60.2,2020,1,0,20,3.75,0.250000,2,0,0,0,0.388889
30107,3.35,2176,66,338,63.3,2015,2,0,31,3.10,0.394945,2,0,0,0,0.888889
4222,3.54,3230,57,1483,52.7,2019,1,0,42,3.24,0.604950,2,0,0,0,0.583333
2032,3.7,2610,40,754,49.1,2020,2,0,10,3.80,0.100000,2,1,0,0,0.583333
19518,4.36,3048,18,1570,57.5,2009,1,0,4,3.75,0.038760,2,0,0,0,0.972222

In [125]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.linear_model import LogisticRegression

k = 1
df0 = df[df.status == 0]
df2 = df[df.status == 2].sample(n = int(k*len(df0)))
df_final = pd.concat([df0, df2])
X = df_final.drop('status', axis=1)
y = df_final['status']
X_train, X_test, y_train, y_test = train_test_split(X, y)

scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

mlp = MLPClassifier(hidden_layer_sizes=(8,8,8),max_iter=1000)
mlp.fit(X_train,y_train)
predictions = mlp.predict(X_test)
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

logisticRegr = LogisticRegression()
logisticRegr.fit(X_train, y_train)
score = logisticRegr.score(X_test, y_test)
print("Logistic Regression Score: " + str(score))

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype int64, float64, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/marclane/.local/lib/python3.6/site-packages/ipykernel_launcher.py:17: DataConversionWarning: Data with input dtype int64, float64, object were all converted to float64 by StandardScaler.
/home/marclane/.local/lib/python3.6/site-packages/ipykernel_launcher.py:18: DataConversionWarning: Data with input dtype int64, float64, object were all converted to float64 by StandardScaler.

[[758 158]
 [201 681]]
              precision    recall  f1-score   support

           0       0.79      0.83      0.81       916
           2       0.81      0.77      0.79       882

   micro avg       0.80      0.80      0.80      1798
   macro avg       0.80      0.80      0.80      1798
weighted avg       0.80      0.80      0.80      1798

Logistic Regression Score: 0.7764182424916574

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)