In [123]:
import pandas as pd
import numpy as np
import sqlite3
import re

conn = sqlite3.connect("profiles.db")
cursor = conn.cursor()
cursor.execute("ATTACH DATABASE 'colleges.db' AS colleges")

In [124]:
df = pd.read_sql_query("SELECT * FROM colleges.university_profiles AS c JOIN profiles AS p ON c.school = p.school",conn)
df_w_admission_rate = df.copy(deep=True)

In [125]:
def get_type_map(df_column):
    return {t:i for i, t in enumerate(set(df_column))}

def convert_sat_to_act(sat):
    if np.isnan(sat):
        return np.nan
    sat_scores = np.array([990, 1060, 1140, 1210, 1270, 1330, 1390, 1450, 1510, 1560, 1620, 1680, 1740, 1800, 1860, 1920, 1980, 2020, 2080, 2140, 2220, 2290, 2380, 2410])
    return np.where(sat < sat_scores)[0][0] + 13
    
def combine_test_scores(x):
    if not np.isnan(x['act']):
        return x['act']/36.0
    sat = np.array([x['sat_m'], x['sat_r'], x['sat_w']])
    return convert_sat_to_act(3*sat[~np.isnan(sat)].mean())/36.0 if len(sat[np.isnan(sat)]) != 3 else np.nan

def convert_string(x):
    try:
        return int(x)
    except:
        return np.nan

def combine_avg_test_scores(x):
    if not np.isnan(convert_string(x['avg_act'])):
        return convert_string(x['avg_act'])/36.0
    sat = np.array([convert_string(x['sat_math']), convert_string(x['sat_reading']), convert_string(x['sat_writing'])])
    return convert_sat_to_act(3*sat[~np.isnan(sat)].mean())/36.0 if len(sat[np.isnan(sat)]) != 3 else np.nan

def map_statuses(x):
    status_map = {"Denied": 0, "Deferred": 0, "Wait-Listed": 0, "Accepted": 2, "Will Attend": 2}
    return status_map[x['status']]

def convert_class_rank(x):
    s = str(x['class_rank'])
    if " of " in s:
        return float(s[:s.index(" of ")])/float(s[s.index(" of ") + 4:])
    if "Top " in s:
        return float(s[4:s.index("%")])/100.0
    if "Bottom " in s:
        return float(s[7:s.index("%")])/100.0
    return np.nan

def convert_instate_tuition(x):
    if "<br>" in str(x['cost_attendance']):
        instate = x['cost_attendance'].split("<br>")[0]
        return instate[instate.index("$")+1:]
    else:
        return x['cost_attendance']

def convert_outstate_tuition(x):
    if "<br>" in str(x['cost_attendance']):
        outstate = x['cost_attendance'].split("<br>")[1]
        return outstate[outstate.index("$")+1:]
    else:
        return x['cost_attendance']

def get_tuition(x):
    return x['in_state_tuition'] if x['state'] == x['hs_state'] else x['out_state_tuition']

def map_hs_types(x):
    hs_type_map = {"Public": 0, "Private": 1, "Parochial": 2, "Home": 3}
    return hs_type_map[x['hs_type']]

def map_ins_types(x):
    ins_type_map = {"Public": 0, "Private": 1, "Private for-profit": 1, "&nbsp;": np.nan}
    return ins_type_map[x['institution_type']]

In [126]:
df = df.loc[:,~df.columns.duplicated()]
df.fillna(value=pd.np.nan, inplace=True)
df['avg_act'] = df['avg_act'].map(lambda x: str(x).strip('-'))
df['test_score'] = df.apply(combine_test_scores, axis=1)
df['avg_test_score'] = df.apply(combine_avg_test_scores, axis=1)
df['class_rank'] = df.apply(convert_class_rank, axis=1)
df['institution_type'] = df.apply(map_ins_types, axis=1)
df['in_state_tuition'] = df.apply(convert_instate_tuition, axis=1)
df['out_state_tuition'] = df.apply(convert_outstate_tuition, axis=1)
#df['tuition'] = df.apply(get_tuition, axis=1)

for col in ['cost_attendance', 'city', 'sat_m', 'sat_r', 'sat_w', 'act', 'sat_math', 'sat_reading', 'sat_writing', 'avg_act', 'gpa_w']:
    df = df.drop(col, axis=1)

df = df.dropna()#subset=['test_score','avg_test_score','gpa_uw','class_rank','hs_state','hs_type','institution_type'])

df['status'] = df.apply(map_statuses, axis=1)
df['hs_type'] = df.apply(map_hs_types, axis=1)
replace_columns = ['hs_state', 'state', 'gender']
for col in replace_columns:
    df[col].replace(get_type_map(df[col]), inplace=True)

In [127]:
print(len(df.index))

44042

In [128]:
whole_df = df

def split_df_on(feature=None):
    split_dfs = {}
    if feature:
        for val in whole_df[feature].unique():
            split_dfs[val] = (whole_df.loc[whole_df[feature]==val])
    else:
        split_dfs = {'all': whole_df}
    return split_dfs
df.sample(n=100)

,school,state,avg_gpa,average_freshman_aid,admission_rate,faculty_total,international_percent,institution_type,female_percentage,year,...,gpa_uw,class_rank,status,eaed,legacy,athlete,test_score,avg_test_score,in_state_tuition,out_state_tuition
25778,University of Chicago,8,4.48,54438,9,1403,13.,1.0,48.9,2018,...,3.34,0.138333,0,0,0,0,0.888889,0.888889,75735,75735
62580,Emory University,17,3.76,44118,22,1066,15.,1.0,59.5,2010,...,3.75,0.035185,2,0,0,0,0.888889,0.861111,66986,66986
47857,Stanford University,1,3.94,53337,5,1613,9.1,1.0,48.5,2016,...,3.95,0.042857,0,0,0,0,0.805556,0.861111,66184,66184
55092,"University of California, Riverside",1,3.74,26448,57,976,2.9,0.0,54.3,2012,...,3.10,0.345000,2,0,0,0,0.916667,0.666667,36092,64106
8178,State University of New York College at Oneonta,5,3.43,9936,60,286,0.8,0.0,59.7,2011,...,3.10,0.395349,2,1,0,0,0.694444,0.638889,23996,33646
87548,Roanoke College,9,3.54,36817,67,165,3.2,1.0,57.7,2011,...,3.90,0.050314,2,0,0,0,0.694444,0.666667,61095,61095
77296,Florida Atlantic University,10,4.04,13295,60,826,3.0,0.0,55.9,2018,...,3.00,0.500000,2,0,0,0,0.638889,0.638889,22235,37791
52188,Florida State University,10,4.02,14486,49,1448,1.5,0.0,55.7,2013,...,3.70,0.077259,2,0,0,0,0.722222,0.777778,22625,37791
3303,Penn State University Park,22,3.58,9620,50,2679,11.,0.0,46.7,2013,...,3.50,0.199752,2,0,0,0,0.777778,0.777778,36344,51572
1785,Sarah Lawrence College,5,3.71,36059,53,119,12.,1.0,71.5,2009,...,3.80,0.250000,2,0,0,0,0.888889,0.805556,70266,70266
62446,George Mason University,9,3.66,14717,81,1290,5.1,0.0,50.3,2018,...,3.98,0.100000,2,1,0,0,0.750000,0.750000,23752,47351
23595,Moravian College,22,3.54,32824,76,141,5.9,1.0,59.3,2013,...,3.50,0.199752,2,0,1,0,0.777778,0.666667,60304,60304
24793,Capital University,3,3.57,30669,69,163,1.9,1.0,61.1,2016,...,3.00,0.500000,2,0,0,0,0.638889,0.666667,50314,50314
8149,Point Park University,22,3.44,28190,65,149,4.0,1.0,59.0,2016,...,3.41,0.500000,2,0,0,0,0.611111,0.611111,45490,45490
33885,Harvard College,47,4.18,55354,5,975,11.,1.0,47.7,2017,...,3.70,0.094444,0,0,0,0,0.611111,0.944444,69600,69600
68869,Pepperdine University,1,3.64,39938,40,394,11.,1.0,59.1,2013,...,3.60,0.040000,2,0,0,0,0.888889,0.777778,73002,73002
68449,Colorado Mesa University,46,3.11,8920,82,295,0.9,0.0,53.8,2019,...,3.35,0.250000,2,0,0,0,0.611111,0.583333,24297,37107
3665,Penn State University Park,22,3.58,9620,50,2679,11.,0.0,46.7,2017,...,3.80,0.250000,2,0,0,0,0.750000,0.777778,36344,51572
43236,"University of California, Irvine",1,3.97,23886,37,1290,16.,0.0,52.7,2017,...,3.67,0.030612,2,0,0,0,0.861111,0.805556,33826,61840
7125,University of Pittsburgh,22,4.14,12960,60,1791,4.1,0.0,51.5,2016,...,3.43,0.500000,2,0,0,0,0.944444,0.805556,33250,44812
34203,Grove City College,22,3.74,7989,80,155,1.0,1.0,48.8,2015,...,3.90,0.100000,2,0,0,0,0.722222,0.750000,28504,28504
54893,Western Washington University,26,3.44,16369,85,643,1.1,0.0,56.5,2014,...,3.10,0.500000,2,0,0,0,0.722222,0.694444,23984,38496
86584,University of North Carolina at Wilmington,24,4.18,8348,67,647,1.5,0.0,62.2,2016,...,2.92,0.402174,2,0,0,0,0.750000,0.694444,23907,37923
29850,Drexel University,22,3.66,42948,79,1108,11.,1.0,48.3,2013,...,3.30,0.334286,2,1,0,0,0.805556,0.750000,69392,69392
3396,Penn State University Park,22,3.58,9620,50,2679,11.,0.0,46.7,2014,...,3.67,0.250000,2,0,0,0,0.722222,0.777778,36344,51572
20549,Messiah College,22,3.78,25467,77,197,4.7,1.0,59.9,2017,...,3.30,0.150754,2,0,0,0,0.611111,0.722222,49280,49280
88484,Stetson University,10,3.81,36918,68,268,5.8,1.0,57.4,2017,...,3.70,0.500000,2,0,0,0,0.722222,0.722222,63282,63282
85692,University of North Carolina at Chapel Hill,24,4.67,17732,24,1672,2.7,0.0,58.8,2010,...,3.87,0.007117,2,0,0,0,0.777778,0.833333,23810,49993
68656,Northern Arizona University,25,3.57,13241,81,1132,4.4,0.0,60.0,2017,...,3.60,0.112644,2,0,0,0,0.722222,0.638889,26924,40706
92836,Purdue University,13,3.75,13452,57,2287,16.,0.0,42.8,2018,...,4.00,0.001550,2,0,0,0,0.944444,0.805556,21182,39984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67365,"University of California, Los Angeles",1,4.36,24405,18,1570,11.,0.0,57.5,2014,...,3.17,0.184466,0,0,0,0,0.722222,0.805556,30485,58499
94821,Oakland University,0,3.47,14475,84,589,2.2,0.0,56.0,2013,...,3.80,0.100000,2,0,0,0,0.861111,0.666667,25128,36581
59482,Miami University,3,3.76,16002,68,973,14.,0.0,50.1,2020,...,3.86,0.057803,2,1,0,0,0.916667,0.805556,30989,49179
93363,University of Iowa,19,3.63,15835,81,1484,10.,0.0,51.7,2011,...,3.94,0.052083,2,0,0,0,0.833333,0.638889,17936,39580
89168,University of Delaware,31,3.71,13284,65,1198,4.0,0.0,57.6,2017,...,3.60,0.147399,2,1,0,0,0.750000,0.694444,27792,47782
17503,University of Vermont,43,3.66,26574,67,629,5.1,0.0,58.0,2019,...,3.30,0.178571,2,1,0,0,0.861111,0.777778,33274,56890
31116,Hofstra University,5,3.60,33000,64,493,5.8,1.0,54.9,2019,...,3.60,0.329949,2,0,0,0,0.444444,0.750000,61940,61940
1451,St. Lawrence University,5,3.60,45856,48,175,8.9,1.0,55.7,2013,...,3.30,0.500000,2,0,0,0,0.861111,0.777778,70630,70630
11899,Temple University,22,3.54,19406,57,1483,7.0,0.0,52.7,2013,...,3.50,0.396694,0,0,0,0,0.583333,0.750000,32300,44060
17542,University of Vermont,43,3.66,26574,67,629,5.1,0.0,58.0,2020,...,3.60,0.053704,2,0,0,0,0.805556,0.777778,33274,56890
5952,University at Albany,5,3.20,11672,54,676,5.3,0.0,50.6,2015,...,3.13,0.528205,2,0,0,0,0.638889,0.666667,25554,40434
70266,University of Southern California,1,3.76,52795,16,2133,13.,1.0,51.5,2019,...,4.00,0.012195,2,0,0,0,1.000000,0.833333,70758,70758
11469,Syracuse University,5,3.63,38450,47,1129,12.,1.0,53.9,2018,...,3.80,0.008850,2,0,0,0,0.694444,0.694444,65480,65480
79637,University of Mississippi,35,3.60,13656,84,1045,1.6,0.0,55.9,2015,...,3.30,0.250000,2,0,0,0,0.805556,0.694444,24812,40076
86951,Old Dominion University,9,3.29,12247,86,840,1.5,0.0,55.2,2015,...,3.50,0.242857,2,1,1,0,0.666667,0.638889,25794,43644
6025,University at Albany,5,3.20,11672,54,676,5.3,0.0,50.6,2020,...,3.00,0.100000,2,0,0,0,0.583333,0.666667,25554,40434
11486,Syracuse University,5,3.63,38450,47,1129,12.,1.0,53.9,2018,...,3.67,0.139744,2,0,0,0,0.750000,0.694444,65480,65480
79575,Lynchburg College,9,3.43,29360,75,162,2.0,1.0,60.7,2018,...,2.30,0.702479,2,0,0,0,0.583333,0.527778,51620,51620
17875,Villanova University,22,4.09,38853,36,618,1.9,1.0,52.9,2015,...,3.85,0.066667,2,1,0,0,0.833333,0.833333,68232,68232
16931,Bucknell University,22,3.55,37500,31,384,6.3,1.0,50.6,2014,...,3.49,0.045113,2,0,0,0,0.833333,0.833333,70525,70525
256,DeSales University,22,3.29,27969,74,126,0.1,1.0,61.1,2009,...,3.70,0.111111,2,0,0,0,0.777778,0.722222,52540,52540
37063,Appalachian State University,24,4.20,9021,70,966,0.8,0.0,55.4,2013,...,3.53,0.134276,2,1,0,0,0.694444,0.722222,19158,33965
46156,University of Washington,26,3.79,17500,46,2055,14.,0.0,52.9,2018,...,3.90,0.008929,2,0,0,0,0.833333,0.805556,25948,49986
5565,Stonehill College,47,3.32,28838,72,169,0.6,1.0,59.0,2015,...,3.90,1.000000,2,0,0,0,0.972222,0.694444,57953,57953
71204,Fordham University,5,3.65,36410,46,735,8.5,1.0,57.5,2018,...,3.70,0.091549,2,0,0,0,0.750000,0.805556,72239,72239
36332,University of Alabama,34,3.72,16254,53,1382,1.6,0.0,55.9,2017,...,3.60,0.125000,2,1,0,0,0.944444,0.750000,26572,45022
53153,Hunter College,5,3.43,9039,40,670,5.5,0.0,64.9,2018,...,3.40,0.169043,2,0,0,0,0.722222,0.638889,18597,29467
40542,"California Polytechnic State University, San L...",1,3.95,9996,35,952,2.2,0.0,47.8,2013,...,3.18,0.250000,0,0,0,0,0.666667,0.777778,27152,39032
77820,Johns Hopkins University,49,3.93,41053,12,637,9.4,1.0,50.6,2013,...,3.93,0.100000,2,0,0,0,0.861111,0.916667,70363,70363
23625,Mount Holyoke College,47,3.81,41558,51,213,27.,1.0,99.9,2009,...,3.80,0.008333,2,0,0,0,0.888889,0.861111,66558,66558

In [129]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.linear_model import LogisticRegression

split_on = None
for val, df_s in split_df_on(split_on).items():
    k = 1
    
    df0 = df_s[df.status == 0]
    df2 = df_s[df.status == 2].sample(n = int(k*len(df0)))
    
    df_final = pd.concat([df0, df2])
    schools = df_final['school']
    df_final = df_final.drop('school', axis=1)
    X = df_final.drop('status', axis=1)
    y = df_final['status']
    X_train, X_test, y_train, y_test = train_test_split(X, y)

    scaler = StandardScaler()
    scaler.fit(X_train)
    X_train = scaler.transform(X_train)
    X_test = scaler.transform(X_test)

    mlp = MLPClassifier(hidden_layer_sizes=(21, 21, 21),max_iter=1000)
    mlp.fit(X_train,y_train)
    predictions = mlp.predict(X_test)
    print(confusion_matrix(y_test,predictions))
    print(classification_report(y_test,predictions))

    logisticRegr = LogisticRegression()
    logisticRegr.fit(X_train, y_train)
    score = logisticRegr.score(X_test, y_test)
    print(f"Logistic Regression Score for {split_on} {val}: " + str(score))

[[1782  391]
 [ 466 1756]]
             precision    recall  f1-score   support

          0       0.79      0.82      0.81      2173
          2       0.82      0.79      0.80      2222

avg / total       0.81      0.81      0.80      4395

Logistic Regression Score for None all: 0.7902161547212742

In [130]:
old_x = X.copy()
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

In [131]:

from collections import defaultdict
# Experimental Acceptance Rate
e_a_r = defaultdict(lambda: defaultdict(int))
total_applicants = 0
for res, school in zip(mlp.predict(X), schools):
    if res == 0:
        e_a_r[school]['reject'] += 1
    elif res == 2:
        e_a_r[school]['accept'] += 1
    e_a_r[school]['total'] += 1
    total_applicants += 1

print(total_applicants == len(schools))

True

In [132]:
e_a_r

defaultdict(<function __main__.<lambda>>,
            {'Abilene Christian University': defaultdict(int,
                         {'accept': 3, 'total': 3}),
             'Adams State University': defaultdict(int,
                         {'accept': 2, 'total': 2}),
             'Adelphi University': defaultdict(int, {'accept': 9, 'total': 9}),
             'Adrian College': defaultdict(int,
                         {'accept': 1, 'reject': 2, 'total': 3}),
             'Agnes Scott College': defaultdict(int,
                         {'accept': 12, 'total': 12}),
             'Alabama State University': defaultdict(int,
                         {'accept': 2, 'reject': 5, 'total': 7}),
             'Albany College of Pharmacy and Health Sciences': defaultdict(int,
                         {'accept': 3, 'reject': 1, 'total': 4}),
             'Albany State University': defaultdict(int,
                         {'accept': 3, 'reject': 4, 'total': 7}),
             'Albion College': defaultdict(int, {'accept': 3, 'total': 3}),
             'Albright College': defaultdict(int,
                         {'accept': 9, 'reject': 2, 'total': 11}),
             'Alcorn State University': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Alfred University': defaultdict(int,
                         {'accept': 3, 'reject': 1, 'total': 4}),
             'Allegheny College': defaultdict(int,
                         {'accept': 11, 'reject': 2, 'total': 13}),
             'Alma College': defaultdict(int, {'accept': 3, 'total': 3}),
             'Alvernia University': defaultdict(int,
                         {'accept': 2, 'reject': 1, 'total': 3}),
             'Alverno College': defaultdict(int, {'accept': 1, 'total': 1}),
             'American University': defaultdict(int,
                         {'accept': 47, 'reject': 78, 'total': 125}),
             'Anderson University': defaultdict(int,
                         {'accept': 3, 'total': 3}),
             'Appalachian State University': defaultdict(int,
                         {'accept': 36, 'reject': 13, 'total': 49}),
             'Aquinas College': defaultdict(int, {'accept': 2, 'total': 2}),
             'Arcadia University': defaultdict(int,
                         {'accept': 12, 'total': 12}),
             'Arizona State University': defaultdict(int,
                         {'accept': 50, 'reject': 4, 'total': 54}),
             'Arkansas State University': defaultdict(int,
                         {'accept': 2, 'reject': 1, 'total': 3}),
             'Arkansas Tech University': defaultdict(int,
                         {'accept': 1, 'reject': 1, 'total': 2}),
             'Ashland University': defaultdict(int,
                         {'accept': 2, 'reject': 1, 'total': 3}),
             'Assumption College': defaultdict(int,
                         {'accept': 10, 'reject': 2, 'total': 12}),
             'Auburn University': defaultdict(int,
                         {'accept': 2, 'reject': 1, 'total': 3}),
             'Augsburg College': defaultdict(int, {'accept': 1, 'total': 1}),
             'Augustana University': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Aurora University': defaultdict(int,
                         {'accept': 2, 'reject': 1, 'total': 3}),
             'Austin College': defaultdict(int, {'accept': 6, 'total': 6}),
             'Averett University': defaultdict(int, {'accept': 2, 'total': 2}),
             'Azusa Pacific University': defaultdict(int,
                         {'accept': 14, 'total': 14}),
             'Baldwin Wallace University': defaultdict(int,
                         {'accept': 8, 'reject': 1, 'total': 9}),
             'Ball State University': defaultdict(int,
                         {'accept': 12, 'reject': 9, 'total': 21}),
             'Barnard College': defaultdict(int,
                         {'accept': 1, 'reject': 64, 'total': 65}),
             'Barton College': defaultdict(int, {'accept': 1, 'total': 1}),
             'Becker College': defaultdict(int,
                         {'accept': 1, 'reject': 2, 'total': 3}),
             'Bellarmine University': defaultdict(int,
                         {'accept': 7, 'total': 7}),
             'Belmont University': defaultdict(int,
                         {'accept': 10, 'total': 10}),
             'Beloit College': defaultdict(int, {'accept': 13, 'total': 13}),
             'Bemidji State University': defaultdict(int,
                         {'reject': 1, 'total': 1}),
             'Benedictine College': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Benedictine University': defaultdict(int,
                         {'accept': 1, 'reject': 1, 'total': 2}),
             'Berry College': defaultdict(int, {'accept': 9, 'total': 9}),
             'Bethel College': defaultdict(int, {'accept': 1, 'total': 1}),
             'Bethel University': defaultdict(int, {'accept': 1, 'total': 1}),
             'Bethune-Cookman University': defaultdict(int,
                         {'accept': 4, 'total': 4}),
             'Binghamton University': defaultdict(int,
                         {'accept': 46, 'reject': 75, 'total': 121}),
             'Biola University': defaultdict(int, {'accept': 5, 'total': 5}),
             'Bloomfield College': defaultdict(int, {'accept': 1, 'total': 1}),
             'Bloomsburg University of Pennsylvania': defaultdict(int,
                         {'accept': 11, 'reject': 2, 'total': 13}),
             'Bluffton University': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Boise State University': defaultdict(int,
                         {'accept': 6, 'total': 6}),
             'Boston University': defaultdict(int,
                         {'accept': 75, 'reject': 143, 'total': 218}),
             'Bowie State University': defaultdict(int,
                         {'accept': 1, 'reject': 1, 'total': 2}),
             'Bowling Green State University': defaultdict(int,
                         {'accept': 9, 'reject': 2, 'total': 11}),
             'Bradley University': defaultdict(int, {'accept': 6, 'total': 6}),
             'Brandeis University': defaultdict(int,
                         {'accept': 23, 'reject': 61, 'total': 84}),
             'Briar Cliff University': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Bridgewater College': defaultdict(int,
                         {'accept': 3, 'reject': 1, 'total': 4}),
             'Bridgewater State University': defaultdict(int,
                         {'accept': 4, 'reject': 3, 'total': 7}),
             'Brigham Young University': defaultdict(int,
                         {'accept': 12, 'reject': 5, 'total': 17}),
             'Bryant University': defaultdict(int,
                         {'accept': 19, 'reject': 7, 'total': 26}),
             'Bucknell University': defaultdict(int,
                         {'accept': 9, 'reject': 87, 'total': 96}),
             'Buffalo State College': defaultdict(int,
                         {'accept': 4, 'total': 4}),
             'Butler University': defaultdict(int,
                         {'accept': 16, 'total': 16}),
             'Cabrini University': defaultdict(int, {'accept': 4, 'total': 4}),
             'Caldwell University': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'California Baptist University': defaultdict(int,
                         {'accept': 3, 'total': 3}),
             'California Lutheran University': defaultdict(int,
                         {'accept': 9, 'total': 9}),
             'California Polytechnic State University, San Luis Obispo': defaultdict(int,
                         {'accept': 65, 'reject': 114, 'total': 179}),
             'California State Polytechnic University, Pomona': defaultdict(int,
                         {'accept': 33, 'reject': 10, 'total': 43}),
             'California State University Chico': defaultdict(int,
                         {'accept': 13, 'total': 13}),
             'California State University Dominguez Hills': defaultdict(int,
                         {'accept': 3, 'reject': 1, 'total': 4}),
             'California State University Los Angeles': defaultdict(int,
                         {'accept': 16, 'reject': 1, 'total': 17}),
             'California State University Monterey Bay': defaultdict(int,
                         {'accept': 6, 'total': 6}),
             'California State University Northridge': defaultdict(int,
                         {'accept': 21, 'reject': 3, 'total': 24}),
             'California State University Sacramento': defaultdict(int,
                         {'accept': 15, 'reject': 1, 'total': 16}),
             'California State University San Bernardino': defaultdict(int,
                         {'accept': 9, 'reject': 1, 'total': 10}),
             'California State University San Marcos': defaultdict(int,
                         {'accept': 9, 'total': 9}),
             'California State University Stanislaus': defaultdict(int,
                         {'accept': 2, 'total': 2}),
             'California University of Pennsylvania': defaultdict(int,
                         {'accept': 2, 'total': 2}),
             'Calvin College': defaultdict(int, {'accept': 6, 'total': 6}),
             'Capital University': defaultdict(int, {'accept': 6, 'total': 6}),
             'Cardinal Stritch University': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Carlow University': defaultdict(int, {'accept': 1, 'total': 1}),
             'Carnegie Mellon University': defaultdict(int,
                         {'accept': 22, 'reject': 140, 'total': 162}),
             'Carroll College': defaultdict(int, {'accept': 4, 'total': 4}),
             'Carson-Newman University': defaultdict(int,
                         {'accept': 2, 'total': 2}),
             'Carthage College': defaultdict(int,
                         {'accept': 8, 'reject': 4, 'total': 12}),
             'Catholic University of America': defaultdict(int,
                         {'accept': 22, 'reject': 1, 'total': 23}),
             'Cazenovia College': defaultdict(int, {'accept': 3, 'total': 3}),
             'Cedar Crest College': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Cedarville University': defaultdict(int,
                         {'accept': 3, 'reject': 1, 'total': 4}),
             'Centenary College of Louisiana': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Central College': defaultdict(int, {'accept': 3, 'total': 3}),
             'Central Connecticut State University': defaultdict(int,
                         {'accept': 9, 'reject': 2, 'total': 11}),
             'Central Michigan University': defaultdict(int,
                         {'accept': 13, 'reject': 1, 'total': 14}),
             'Central Washington University': defaultdict(int,
                         {'accept': 6, 'total': 6}),
             'Centre College': defaultdict(int, {'accept': 11, 'total': 11}),
             'Champlain College': defaultdict(int, {'accept': 6, 'total': 6}),
             'Chapman University': defaultdict(int,
                         {'accept': 25, 'reject': 16, 'total': 41}),
             'Chatham University': defaultdict(int, {'accept': 1, 'total': 1}),
             'Chestnut Hill College': defaultdict(int,
                         {'accept': 2, 'total': 2}),
             'Chicago State University': defaultdict(int,
                         {'reject': 1, 'total': 1}),
             'Chowan University': defaultdict(int, {'accept': 2, 'total': 2}),
             'Christian Brothers University': defaultdict(int,
                         {'accept': 3, 'total': 3}),
             'Christopher Newport University': defaultdict(int,
                         {'accept': 27, 'reject': 10, 'total': 37}),
             'Clarion University of Pennsylvania': defaultdict(int,
                         {'accept': 4, 'reject': 1, 'total': 5}),
             'Clark Atlanta University': defaultdict(int,
                         {'accept': 7, 'reject': 3, 'total': 10}),
             'Clark University': defaultdict(int,
                         {'accept': 19, 'reject': 3, 'total': 22}),
             'Clarke University': defaultdict(int, {'accept': 2, 'total': 2}),
             'Clarkson University': defaultdict(int,
                         {'accept': 18, 'reject': 3, 'total': 21}),
             'Clayton State University': defaultdict(int,
                         {'accept': 1, 'reject': 2, 'total': 3}),
             'Cleveland Institute of Art': defaultdict(int,
                         {'accept': 2, 'total': 2}),
             'Cleveland State University': defaultdict(int,
                         {'accept': 2, 'total': 2}),
             'Coastal Carolina University': defaultdict(int,
                         {'accept': 9, 'reject': 10, 'total': 19}),
             'Coe College': defaultdict(int, {'accept': 7, 'total': 7}),
             'Colgate University': defaultdict(int,
                         {'accept': 2, 'reject': 90, 'total': 92}),
             'College at Brockport': defaultdict(int,
                         {'accept': 9, 'reject': 4, 'total': 13}),
             'College of Charleston': defaultdict(int,
                         {'accept': 22, 'reject': 8, 'total': 30}),
             'College of Mount St. Vincent': defaultdict(int,
                         {'accept': 4, 'total': 4}),
             'College of Saint Benedict': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'College of St. Rose': defaultdict(int,
                         {'accept': 8, 'total': 8}),
             'College of St. Scholastica': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'College of Staten Island (City University of New York)': defaultdict(int,
                         {'accept': 4, 'total': 4}),
             'College of Wooster': defaultdict(int,
                         {'accept': 16, 'total': 16}),
             'College of the Atlantic': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Colorado Mesa University': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Colorado School of Mines': defaultdict(int,
                         {'accept': 28, 'reject': 13, 'total': 41}),
             'Colorado State University': defaultdict(int,
                         {'accept': 26, 'reject': 5, 'total': 31}),
             'Colorado State University - Pueblo': defaultdict(int,
                         {'accept': 2, 'total': 2}),
             'Columbia College': defaultdict(int, {'accept': 10, 'total': 10}),
             'Columbia College Chicago': defaultdict(int,
                         {'accept': 11, 'reject': 1, 'total': 12}),
             'Columbus State University': defaultdict(int,
                         {'accept': 1, 'reject': 2, 'total': 3}),
             'Concordia College': defaultdict(int, {'accept': 2, 'total': 2}),
             'Concordia College New York': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Concordia University Ann Arbor': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Concordia University Chicago': defaultdict(int,
                         {'reject': 1, 'total': 1}),
             'Concordia University Irvine': defaultdict(int,
                         {'accept': 4, 'total': 4}),
             'Concordia University Nebraska': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Concordia University Wisconsin': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Converse College': defaultdict(int, {'accept': 1, 'total': 1}),
             'Cornell College': defaultdict(int, {'accept': 9, 'total': 9}),
             'Cornerstone University': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Covenant College': defaultdict(int, {'accept': 3, 'total': 3}),
             'Creighton University': defaultdict(int,
                         {'accept': 11, 'reject': 1, 'total': 12}),
             'Cumberland University': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Curry College': defaultdict(int,
                         {'accept': 3, 'reject': 1, 'total': 4}),
             "D'Youville College": defaultdict(int, {'accept': 1, 'total': 1}),
             'Daemen College': defaultdict(int,
                         {'accept': 1, 'reject': 1, 'total': 2}),
             'Dallas Baptist University': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Davidson College': defaultdict(int,
                         {'accept': 3, 'reject': 55, 'total': 58}),
             'DePauw University': defaultdict(int,
                         {'accept': 18, 'total': 18}),
             'DeSales University': defaultdict(int,
                         {'accept': 5, 'reject': 3, 'total': 8}),
             'Delaware Valley University': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Dillard University': defaultdict(int, {'accept': 2, 'total': 2}),
             'Dominican University': defaultdict(int,
                         {'accept': 3, 'total': 3}),
             'Dominican University of California': defaultdict(int,
                         {'accept': 7, 'total': 7}),
             'Dordt College': defaultdict(int, {'accept': 3, 'total': 3}),
             'Drake University': defaultdict(int, {'accept': 14, 'total': 14}),
             'Drew University': defaultdict(int,
                         {'accept': 10, 'reject': 2, 'total': 12}),
             'Drexel University': defaultdict(int,
                         {'accept': 73, 'reject': 26, 'total': 99}),
             'Drury University': defaultdict(int,
                         {'accept': 1, 'reject': 1, 'total': 2}),
             'Duquesne University': defaultdict(int,
                         {'accept': 10, 'total': 10}),
             'Earlham College': defaultdict(int, {'accept': 7, 'total': 7}),
             'East Carolina University': defaultdict(int,
                         {'accept': 35, 'reject': 19, 'total': 54}),
             'East Stroudsburg University of Pennsylvania': defaultdict(int,
                         {'accept': 4, 'reject': 3, 'total': 7}),
             'East Tennessee State University': defaultdict(int,
                         {'accept': 4, 'total': 4}),
             'Eastern Illinois University': defaultdict(int,
                         {'accept': 4, 'reject': 1, 'total': 5}),
             'Eastern Kentucky University': defaultdict(int,
                         {'accept': 1, 'reject': 2, 'total': 3}),
             'Eastern Mennonite University': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Eastern Michigan University': defaultdict(int,
                         {'accept': 15, 'reject': 2, 'total': 17}),
             'Eastern Oregon University': defaultdict(int,
                         {'accept': 1, 'total': 1}),
             'Eastern University': defaultdict(int, {'accept': 1, 'total': 1}),
             'Eastern Washington University': defaultdict(int,
                         {'accept': 2, 'total': 2}),
             'Eckerd College': defaultdict(int, {'accept': 5, 'total': 5}),
             'Edgewood College': defaultdict(int, {'accept': 1, 'total': 1}),
             'Edinboro University': defaultdict(int,
                         {'accept': 4, 'total': 4}),
             'Elmhurst College': defaultdict(int, {'accept': 3, 'total': 3}),
             'Elmira College': defaultdict(int,

In [133]:
compare_vs_ground_truth = defaultdict(str)

for (index, row), school in zip(old_x.iterrows(), schools):
    accept_rate = None
    if e_a_r[school]['accept'] != 0 and e_a_r[school]['accept'] != 0:
        accept_rate = e_a_r[school]['accept']/e_a_r[school]['total']
    elif e_a_r[school]['accept'] == 0:
        accept_rate = 0
    elif e_a_r[school]['reject'] == 0:
        accept_rate = 1
    
    compare_vs_ground_truth[school] = [accept_rate, int(row['admission_rate'])/100]

In [134]:
compare_vs_ground_truth

defaultdict(str,
            {'Abilene Christian University': [1.0, 0.51],
             'Adams State University': [1.0, 0.99],
             'Adelphi University': [1.0, 0.73],
             'Adrian College': [0.3333333333333333, 0.56],
             'Agnes Scott College': [1.0, 0.66],
             'Alabama State University': [0.2857142857142857, 0.98],
             'Albany College of Pharmacy and Health Sciences': [0.75, 0.67],
             'Albany State University': [0.42857142857142855, 0.5],
             'Albion College': [1.0, 0.71],
             'Albright College': [0.8181818181818182, 0.5],
             'Alcorn State University': [1.0, 0.79],
             'Alfred University': [0.75, 0.63],
             'Allegheny College': [0.8461538461538461, 0.68],
             'Alma College': [1.0, 0.64],
             'Alvernia University': [0.6666666666666666, 0.74],
             'Alverno College': [1.0, 0.78],
             'American University': [0.376, 0.29],
             'Anderson University': [1.0, 0.65],
             'Appalachian State University': [0.7346938775510204, 0.7],
             'Aquinas College': [1.0, 0.75],
             'Arcadia University': [1.0, 0.62],
             'Arizona State University': [0.9259259259259259, 0.84],
             'Arkansas State University': [0.6666666666666666, 0.7],
             'Arkansas Tech University': [0.5, 0.95],
             'Ashland University': [0.6666666666666666, 0.76],
             'Assumption College': [0.8333333333333334, 0.79],
             'Auburn University': [0.6666666666666666, 0.84],
             'Augsburg College': [1.0, 0.45],
             'Augustana University': [1.0, 0.68],
             'Aurora University': [0.6666666666666666, 0.87],
             'Austin College': [1.0, 0.52],
             'Averett University': [1.0, 0.62],
             'Azusa Pacific University': [1.0, 0.6],
             'Baldwin Wallace University': [0.8888888888888888, 0.78],
             'Ball State University': [0.5714285714285714, 0.62],
             'Barnard College': [0.015384615384615385, 0.15],
             'Barton College': [1.0, 0.39],
             'Becker College': [0.3333333333333333, 0.69],
             'Bellarmine University': [1.0, 0.89],
             'Belmont University': [1.0, 0.81],
             'Beloit College': [1.0, 0.54],
             'Bemidji State University': [0, 0.66],
             'Benedictine College': [1.0, 0.97],
             'Benedictine University': [0.5, 0.62],
             'Berry College': [1.0, 0.62],
             'Bethel College': [1.0, 0.56],
             'Bethel University': [1.0, 0.83],
             'Bethune-Cookman University': [1.0, 0.54],
             'Binghamton University': [0.38016528925619836, 0.4],
             'Biola University': [1.0, 0.69],
             'Bloomfield College': [1.0, 0.62],
             'Bloomsburg University of Pennsylvania': [0.8461538461538461,
              0.73],
             'Bluffton University': [1.0, 0.49],
             'Boise State University': [1.0, 0.82],
             'Boston University': [0.3440366972477064, 0.25],
             'Bowie State University': [0.5, 0.41],
             'Bowling Green State University': [0.8181818181818182, 0.68],
             'Bradley University': [1.0, 0.71],
             'Brandeis University': [0.27380952380952384, 0.34],
             'Briar Cliff University': [1.0, 0.51],
             'Bridgewater College': [0.75, 0.52],
             'Bridgewater State University': [0.5714285714285714, 0.8],
             'Brigham Young University': [0.7058823529411765, 0.52],
             'Bryant University': [0.7307692307692307, 0.73],
             'Bucknell University': [0.09375, 0.31],
             'Buffalo State College': [1.0, 0.6],
             'Butler University': [1.0, 0.65],
             'Cabrini University': [1.0, 0.71],
             'Caldwell University': [1.0, 0.64],
             'California Baptist University': [1.0, 0.77],
             'California Lutheran University': [1.0, 0.73],
             'California Polytechnic State University, San Luis Obispo': [0.36312849162011174,
              0.35],
             'California State Polytechnic University, Pomona': [0.7674418604651163,
              0.55],
             'California State University Chico': [1.0, 0.67],
             'California State University Dominguez Hills': [0.75, 0.77],
             'California State University Los Angeles': [0.9411764705882353,
              0.46],
             'California State University Monterey Bay': [1.0, 0.53],
             'California State University Northridge': [0.875, 0.48],
             'California State University Sacramento': [0.9375, 0.68],
             'California State University San Bernardino': [0.9, 0.57],
             'California State University San Marcos': [1.0, 0.77],
             'California State University Stanislaus': [1.0, 0.77],
             'California University of Pennsylvania': [1.0, 0.94],
             'Calvin College': [1.0, 0.83],
             'Capital University': [1.0, 0.69],
             'Cardinal Stritch University': [1.0, 0.78],
             'Carlow University': [1.0, 0.91],
             'Carnegie Mellon University': [0.13580246913580246, 0.22],
             'Carroll College': [1.0, 0.71],
             'Carson-Newman University': [1.0, 0.67],
             'Carthage College': [0.6666666666666666, 0.68],
             'Catholic University of America': [0.9565217391304348, 0.83],
             'Cazenovia College': [1.0, 0.92],
             'Cedar Crest College': [1.0, 0.63],
             'Cedarville University': [0.75, 0.71],
             'Centenary College of Louisiana': [1.0, 0.62],
             'Central College': [1.0, 0.64],
             'Central Connecticut State University': [0.8181818181818182,
              0.67],
             'Central Michigan University': [0.9285714285714286, 0.68],
             'Central Washington University': [1.0, 0.79],
             'Centre College': [1.0, 0.76],
             'Champlain College': [1.0, 0.75],
             'Chapman University': [0.6097560975609756, 0.74],
             'Chatham University': [1.0, 0.55],
             'Chestnut Hill College': [1.0, 0.96],
             'Chicago State University': [0, 0.3],
             'Chowan University': [1.0, 0.6],
             'Christian Brothers University': [1.0, 0.53],
             'Christopher Newport University': [0.7297297297297297, 0.72],
             'Clarion University of Pennsylvania': [0.8, 0.95],
             'Clark Atlanta University': [0.7, 0.58],
             'Clark University': [0.8636363636363636, 0.55],
             'Clarke University': [1.0, 0.63],
             'Clarkson University': [0.8571428571428571, 0.66],
             'Clayton State University': [0.3333333333333333, 0.48],
             'Cleveland Institute of Art': [1.0, 0.54],
             'Cleveland State University': [1.0, 0.88],
             'Coastal Carolina University': [0.47368421052631576, 0.61],
             'Coe College': [1.0, 0.56],
             'Colgate University': [0.021739130434782608, 0.28],
             'College at Brockport': [0.6923076923076923, 0.53],
             'College of Charleston': [0.7333333333333333, 0.8],
             'College of Mount St. Vincent': [1.0, 0.91],
             'College of Saint Benedict': [1.0, 0.91],
             'College of St. Rose': [1.0, 0.83],
             'College of St. Scholastica': [1.0, 0.64],
             'College of Staten Island (City University of New York)': [1.0,
              1.0],
             'College of Wooster': [1.0, 0.56],
             'College of the Atlantic': [1.0, 0.68],
             'Colorado Mesa University': [1.0, 0.82],
             'Colorado School of Mines': [0.6829268292682927, 0.4],
             'Colorado State University': [0.8387096774193549, 0.83],
             'Colorado State University - Pueblo': [1.0, 0.95],
             'Columbia College': [1.0, 0.87],
             'Columbia College Chicago': [0.9166666666666666, 0.92],
             'Columbus State University': [0.3333333333333333, 0.53],
             'Concordia College': [1.0, 0.65],
             'Concordia College New York': [1.0, 0.78],
             'Concordia University Ann Arbor': [1.0, 0.56],
             'Concordia University Chicago': [0, 0.75],
             'Concordia University Irvine': [1.0, 0.58],
             'Concordia University Nebraska': [1.0, 0.75],
             'Concordia University Wisconsin': [1.0, 0.63],
             'Converse College': [1.0, 0.6],
             'Cornell College': [1.0, 0.71],
             'Cornerstone University': [1.0, 0.67],
             'Covenant College': [1.0, 0.95],
             'Creighton University': [0.9166666666666666, 0.72],
             'Cumberland University': [1.0, 0.46],
             'Curry College': [0.75, 0.9],
             "D'Youville College": [1.0, 0.97],
             'Daemen College': [0.5, 0.49],
             'Dallas Baptist University': [1.0, 0.39],
             'Davidson College': [0.05172413793103448, 0.2],
             'DePauw University': [1.0, 0.67],
             'DeSales University': [0.625, 0.74],
             'Delaware Valley University': [1.0, 0.66],
             'Dillard University': [1.0, 0.48],
             'Dominican University': [1.0, 0.65],
             'Dominican University of California': [1.0, 0.76],
             'Dordt College': [1.0, 0.75],
             'Drake University': [1.0, 0.69],
             'Drew University': [0.8333333333333334, 0.63],
             'Drexel University': [0.7373737373737373, 0.79],
             'Drury University': [0.5, 0.72],
             'Duquesne University': [1.0, 0.72],
             'Earlham College': [1.0, 0.52],
             'East Carolina University': [0.6481481481481481, 0.79],
             'East Stroudsburg University of Pennsylvania': [0.5714285714285714,
              0.79],
             'East Tennessee State University': [1.0, 0.85],
             'Eastern Illinois University': [0.8, 0.47],
             'Eastern Kentucky University': [0.3333333333333333, 0.71],
             'Eastern Mennonite University': [1.0, 0.54],
             'Eastern Michigan University': [0.8823529411764706, 0.73],
             'Eastern Oregon University': [1.0, 0.98],
             'Eastern University': [1.0, 0.66],
             'Eastern Washington University': [1.0, 0.96],
             'Eckerd College': [1.0, 0.73],
             'Edgewood College': [1.0, 0.71],
             'Edinboro University': [1.0, 0.99],
             'Elmhurst College': [1.0, 0.71],
             'Elmira College': [0.8, 0.82],
             'Elon University': [0.9305555555555556, 0.67],
             'Embry-Riddle Aeronautical University - Daytona Beach': [1.0,
              0.71],
             'Embry-Riddle Aeronautical University - Prescott': [0.6666666666666666,
              0.76],
             'Emerson College': [0.4, 0.46],
             'Emmanuel College': [0.9090909090909091, 0.73],
             'Emory & Henry College': [1.0, 0.72],
             'Emory University': [0.3698630136986301, 0.22],
             'Emporia State University': [0.75, 0.83],
             'Endicott College': [1.0, 0.81],
             'Eugene Lang College The New School for Liberal Arts': [1.0,
              0.84],
             'Eureka College': [0.5, 0.65],
             'Evergreen State College': [1.0, 0.96],
             'Fairfield University': [0.6363636363636364, 0.61],
             'Fairleigh Dickinson University - College at Florham': [1.0,
              0.84],
             'Fairleigh Dickinson University - Metropolitan Campus': [0.8333333333333334,
              0.88],
             'Farmingdale State College': [0.5714285714285714, 0.59],
             'Faulkner University': [0.5, 0.45],
             'Fayetteville State University': [0.5714285714285714, 0.67],
             'Felician College': [1.0, 0.79],
             'Ferris State University': [0.7142857142857143, 0.74],
             'Fitchburg State University': [0.8571428571428571, 0.8],
             'Flagler College': [0.8571428571428571, 0.57],
             'Florida Agricultural and Mechanical University': [0.5, 0.46],
             'Florida Atlantic University': [0.6774193548387096, 0.6],
             'Florida Gulf Coast University': [0.6190476190476191, 0.64],
             'Florida Institute of Technology': [1.0, 0.63],
             'Florida International University': [0.32558139534883723, 0.51],
             'Florida Southern College': [0.8888888888888888, 0.51],
             'Florida State University': [0.59375, 0.49],
             'Fontbonne University': [1.0, 0.97],
             'Fordham University': [0.30994152046783624, 0.46],
             'Fort Lewis College': [1.0, 0.83],
             'Framingham State University': [0.5, 0.68],
             'Franciscan University of Steubenville': [1.0, 0.79],
             'Franklin Pierce University': [1.0, 0.76],
             'Freed-Hardeman University': [1.0, 0.96],
             'Frostburg State University': [0.6, 0.72],
             'Gallaudet University': [1.0, 0.66],
             'Gannon University': [1.0, 0.8],
             'Gardner-Webb University': [0.75, 0.1],
             'Geneva College': [1.0, 0.69],
             'George Fox University': [1.0, 0.78],
             'George Mason University': [0.7818181818181819, 0.81],
             'Georgetown College': [1.0, 0.67],
             'Georgia College and State University': [0.7272727272727273,
              0.79],
             'Georgia Institute of Technology': [0.4632352941176471, 0.23],
             'Georgia Southern University': [0.5, 0.68],
             'Georgia State University': [0.36, 0.52],
             'Georgian Court University': [1.0, 0.69],
             'Gonzaga University': [0.8181818181818182, 0.65],
             'Gordon College': [0.6, 0.89],
             'Goshen College': [1.0, 0.65],
             'Goucher College': [0.9090909090909091, 0.79],
             'Grace College': [1.0, 0.78],
             'Grand Valley State University': [0.85, 0.81],
             'Green Mountain College': [1.0, 0.82],
             'Grove City College': [1.0, 0.8],
             'Guilford College': [1.0, 0.91],
             'Gustavus Adolphus College': [1.0, 0.68],
             'Gwynedd-Mercy College': [1.0, 0.94],
             'Hamline University': [1.0, 0.7],
             'Hampden-Sydney College': [0.625, 0.55],
             'Hampton University': [0.75, 0.36],
             'Hanover College': [0.75, 0.57],
             'Hardin-Simmons University': [1.0, 0.82],
             'Harding University': [1.0, 0.72],
             'Hartwick College': [1.0, 0.89],
             'Harvard College': [0.006220839813374806, 0.05],
             'Hawaii Pacific University': [1.0, 0.75],
             'Henderson State University': [1.0, 0.66],
             'Hendrix College': [1.0, 0.8],
             'High Point University': [0.7, 0.81],
             'Hilbert College': [0, 0.81],
             'Hobart and William Smith Colleges': [0.5294117647058824, 0.61],
             'Hofstra University': [0.6304347826086957, 0.64],
             'Hollins University': [1.0, 0.48],
             'Hope College': [1.0, 0.84],
             'Hope International University': [1.0, 0.28],
             'Houghton College': [1.0, 0.75],
             'Houston Baptist University': [1.0, 0.69],
             'Howard University': [0.576271186440678, 0.49],
             'Humboldt State University': [0.9090909090909091, 0.58],
             'Hunter College': [0.5, 0.4],
             'Husson University': [1.0, 0.8],
             'Illinois College': [1.0, 0.55],
             'Illinois Institute of Technology': [0.8888888888888888, 0.53],
             'Illinois State University': [0.8947368421052632, 0.89],
             'Illinois Wesleyan University': [1.0, 0.61],
             'Indiana State University': [0.875, 0.85],
             'Indiana University - Purdue University Indianapolis': [0.75,
              0.8],
             'Iona College': [0.8, 0.92],
             'Iowa State University': [1.0, 0.89],
             'Jackson State University': [1.0, 0.72],
             'Jacksonville University': [0.8888888888888888, 0.87],
             'John Brown University': [1.0, 0.76],
             'John Carroll University': [1.0, 0.85],
             'Johns Hopkins University': [0.003703703703703704, 0.12],
             'Johnson C. Smith University': [0.5, 0.38],
             'Juniata College': [0.9285714285714286, 0.71],
             'Kalamazoo College': [1.0, 0.73],
             'Kansas State University': [1.0, 0.95],
             'Kean University': [1.0, 0.82],
             'Kennesaw State University': [0.4, 0.61],
             'Kent State University': [0.95, 0.88],
             'Kentucky State University': [1.0, 0.45],
             'Kenyon College': [0.15555555555555556, 0.34],
             'Kettering University': [1.0, 0.7],
             'King College': [1.0, 0.59],
             'Knox College': [1.0, 0.72],
             'Kutztown University of Pennsylvania': [0.9, 0.74],
             'LIU Brooklyn': [1.0, 0.84],
             'LIU Post': [1.0, 0.83],
             'La Roche College': [1.0, 0.97],
             'La Salle University': [1.0, 0.79],
             'La Sierra University': [0.5, 0.49],
             'LaGrange College': [1.0, 0.57],
             'Lake Erie College': [1.0, 0.63],
             'Lamar University': [0.3333333333333333, 0.82],
             'Langston University': [0, 0.61],
             'Lasell College': [0.6666666666666666, 0.81],
             'Lawrence Technological University': [1.0, 0.6],
             'Lawrence University': [1.0, 0.61],
             'Le Moyne College': [0.9230769230769231, 0.64],
             'LeMoyne-Owen College': [1.0, 1.0],
             'LeTourneau University': [1.0, 0.47],
             'Lebanon Valley College': [0.7142857142857143, 0.73],
             'Lenoir-Rhyne University': [1.0, 0.74],
             'Lesley University': [1.0, 0.73],
             'Lewis & Clark College': [0.625, 0.55],
             'Lewis University': [1.0, 0.54],
             'Lewis-Clark State College': [1.0, 0.99],
             'Lincoln University': [0.75, 0.52],
             'Lindenwood University': [1.0, 0.74],
             'Linfield College': [0.9090909090909091, 0.81],
             'Lipscomb University': [1.0, 0.6],
             'Lock Haven University of Pennsylvania': [1.0, 0.89],
             'Longwood University': [1.0, 0.92],
             'Louisiana State University': [0.7837837837837838, 0.74],
             'Louisiana Tech University': [0.6666666666666666, 0.62],
             'Loyola Marymount University': [0.3870967741935484, 0.52],
             'Loyola University Maryland': [0.9024390243902439, 0.66],
             'Loyola University New Orleans': [0.9, 0.69],
             'Luther College': [1.0, 0.65],
             'Lynchburg College': [1.0, 0.75],
             'Lynn University': [1.0, 0.85],
             'Lyon College': [1.0, 0.64],
             'Malone University': [0.5, 0.66],
             'Manchester University': [1.0, 0.62],
             'Manhattan College': [0.8461538461538461, 0.67],
             'Manhattanville College': [1.0, 0.82],
             'Mansfield University of Pennsylvania': [0.8, 0.68],
             'Marian University': [1.0, 0.59],
             'Marietta College': [1.0, 0.93],
             'Marist College': [0.5405405405405406, 0.43],
             'Marshall University': [1.0, 0.89],
             'Mary Baldwin University': [1.0, 0.95],
             'Marymount Manhattan College': [0.8181818181818182, 0.79],
             'Marymount University': [1.0, 0.92],
             'Maryville University of Saint Louis': [1.0, 0.92],
             'Marywood University': [1.0, 0.75],
             'Massachusetts College of Liberal Arts': [1.0, 0.77],
             'Massachusetts College of Pharmacy and Health Sciences': [1.0,
              0.84],
             'McDaniel College': [1.0, 0.85],
             'McKendree University': [1.0, 0.62],
             'McNeese State University': [1.0, 0.62],

In [135]:
avg_error = 0
error_rates = {}
for (school, admission_stats), (school_2, comparisons) in zip(e_a_r.items(), compare_vs_ground_truth.items()):
    if school != school_2:
        print("there's a huge mistake somewhere")
    error = abs(comparisons[1]-comparisons[0])
    weight_error = admission_stats['total']/total_applicants
    avg_error += error*weight_error
    if admission_stats['total'] > 25:
        error_rates[school] = {'error': error, 'experimental': comparisons[0], 'real': comparisons[1]}
        error_rates[school].update(admission_stats)

In [136]:
avg_error

0.12252161547212746

In [143]:
sorted_errors = sorted(error_rates.items(), reverse=False, key=lambda item: item[1]['error'])
flatten_dict = []
for school, stats in sorted_errors:
    stats['school'] = school
    flatten_dict.append(stats)
flatten_dict

[{'accept': 20,
  'error': 0.0,
  'experimental': 0.5,
  'real': 0.5,
  'reject': 20,
  'school': 'University of San Diego',
  'total': 40},
 {'accept': 19,
  'error': 0.0007692307692307443,
  'experimental': 0.7307692307692307,
  'real': 0.73,
  'reject': 7,
  'school': 'Bryant University',
  'total': 26},
 {'accept': 31,
  'error': 0.00216216216216214,
  'experimental': 0.8378378378378378,
  'real': 0.84,
  'reject': 6,
  'school': 'University of Arizona',
  'total': 37},
 {'accept': 43,
  'error': 0.003076923076923088,
  'experimental': 0.8269230769230769,
  'real': 0.83,
  'reject': 9,
  'school': 'University of Oregon',
  'total': 52},
 {'accept': 70,
  'error': 0.0033333333333334103,
  'experimental': 0.6666666666666666,
  'real': 0.67,
  'reject': 35,
  'school': 'University of Vermont',
  'total': 105},
 {'accept': 23,
  'error': 0.00696969696969707,
  'experimental': 0.696969696969697,
  'real': 0.69,
  'reject': 10,
  'school': 'University of Rhode Island',
  'total': 33},
 {'accept': 26,
  'error': 0.008709677419354911,
  'experimental': 0.8387096774193549,
  'real': 0.83,
  'reject': 5,
  'school': 'Colorado State University',
  'total': 31},
 {'accept': 29,
  'error': 0.009565217391304337,
  'experimental': 0.6304347826086957,
  'real': 0.64,
  'reject': 17,
  'school': 'Hofstra University',
  'total': 46},
 {'accept': 27,
  'error': 0.009729729729729741,
  'experimental': 0.7297297297297297,
  'real': 0.72,
  'reject': 10,
  'school': 'Christopher Newport University',
  'total': 37},
 {'accept': 65,
  'error': 0.01312849162011176,
  'experimental': 0.36312849162011174,
  'real': 0.35,
  'reject': 114,
  'school': 'California Polytechnic State University, San Luis Obispo',
  'total': 179},
 {'accept': 15,
  'error': 0.019090909090909103,
  'experimental': 0.3409090909090909,
  'real': 0.36,
  'reject': 29,
  'school': 'Reed College',
  'total': 44},
 {'accept': 46,
  'error': 0.019834710743801665,
  'experimental': 0.38016528925619836,
  'real': 0.4,
  'reject': 75,
  'school': 'Binghamton University',
  'total': 121},
 {'accept': 60,
  'error': 0.02102189781021896,
  'experimental': 0.21897810218978103,
  'real': 0.24,
  'reject': 214,
  'school': 'University of North Carolina at Chapel Hill',
  'total': 274},
 {'accept': 21,
  'error': 0.026363636363636367,
  'experimental': 0.6363636363636364,
  'real': 0.61,
  'reject': 12,
  'school': 'Fairfield University',
  'total': 33},
 {'accept': 43,
  'error': 0.028181818181818197,
  'experimental': 0.7818181818181819,
  'real': 0.81,
  'reject': 12,
  'school': 'George Mason University',
  'total': 55},
 {'accept': 24,
  'error': 0.030000000000000027,
  'experimental': 0.75,
  'real': 0.78,
  'reject': 8,
  'school': 'Ursinus College',
  'total': 32},
 {'accept': 27,
  'error': 0.03130434782608699,
  'experimental': 0.391304347826087,
  'real': 0.36,
  'reject': 42,
  'school': 'University of Miami',
  'total': 69},
 {'accept': 36,
  'error': 0.03469387755102049,
  'experimental': 0.7346938775510204,
  'real': 0.7,
  'reject': 13,
  'school': 'Appalachian State University',
  'total': 49},
 {'accept': 44,
  'error': 0.036666666666666736,
  'experimental': 0.7333333333333333,
  'real': 0.77,
  'reject': 16,
  'school': 'University of New Hampshire',
  'total': 60},
 {'accept': 10,
  'error': 0.03701149425287356,
  'experimental': 0.022988505747126436,
  'real': 0.06,
  'reject': 425,
  'school': 'Princeton University',
  'total': 435},
 {'accept': 24,
  'error': 0.0371698113207547,
  'experimental': 0.4528301886792453,
  'real': 0.49,
  'reject': 29,
  'school': 'Southern Methodist University',
  'total': 53},
 {'accept': 16,
  'error': 0.038275862068965494,
  'experimental': 0.5517241379310345,
  'real': 0.59,
  'reject': 13,
  'school': 'University of North Florida',
  'total': 29},
 {'accept': 47,
  'error': 0.04307692307692301,
  'experimental': 0.7230769230769231,
  'real': 0.68,
  'reject': 18,
  'school': "St. John's University",
  'total': 65},
 {'accept': 28,
  'error': 0.043333333333333335,
  'experimental': 0.5833333333333334,
  'real': 0.54,
  'reject': 20,
  'school': 'University at Albany',
  'total': 48},
 {'accept': 4,
  'error': 0.0437791601866252,
  'experimental': 0.006220839813374806,
  'real': 0.05,
  'reject': 639,
  'school': 'Harvard College',
  'total': 643},
 {'accept': 29,
  'error': 0.04378378378378378,
  'experimental': 0.7837837837837838,
  'real': 0.74,
  'reject': 8,
  'school': 'Louisiana State University',
  'total': 37},
 {'accept': 3,
  'error': 0.04529042386185243,
  'experimental': 0.004709576138147566,
  'real': 0.05,
  'reject': 634,
  'school': 'Stanford University',
  'total': 637},
 {'accept': 17,
  'error': 0.04583333333333334,
  'experimental': 0.3541666666666667,
  'real': 0.4,
  'reject': 31,
  'school': 'Pepperdine University',
  'total': 48},
 {'accept': 52,
  'error': 0.04706422018348627,
  'experimental': 0.47706422018348627,
  'real': 0.43,
  'reject': 57,
  'school': 'Rensselaer Polytechnic Institute',
  'total': 109},
 {'accept': 35,
  'error': 0.04745980707395499,
  'experimental': 0.11254019292604502,
  'real': 0.16,
  'reject': 276,
  'school': 'University of Southern California',
  'total': 311},
 {'accept': 24,
  'error': 0.04888888888888887,
  'experimental': 0.8888888888888888,
  'real': 0.84,
  'reject': 3,
  'school': 'University of Mississippi',
  'total': 27},
 {'accept': 73,
  'error': 0.05262626262626269,
  'experimental': 0.7373737373737373,
  'real': 0.79,
  'reject': 26,
  'school': 'Drexel University',
  'total': 99},
 {'accept': 96,
  'error': 0.05295983086680761,
  'experimental': 0.2029598308668076,
  'real': 0.15,
  'reject': 377,
  'school': 'University of California, Berkeley',
  'total': 473},
 {'accept': 34,
  'error': 0.05926829268292677,
  'experimental': 0.8292682926829268,
  'real': 0.77,
  'reject': 7,
  'school': 'Virginia Commonwealth University',
  'total': 41},
 {'accept': 112,
  'error': 0.06,
  'experimental': 0.35,
  'real': 0.29,
  'reject': 208,
  'school': 'University of Michigan',
  'total': 320},
 {'accept': 20,
  'error': 0.06,
  'experimental': 0.4,
  'real': 0.46,
  'reject': 30,
  'school': 'Emerson College',
  'total': 50},
 {'accept': 84,
  'error': 0.06,
  'experimental': 0.28,
  'real': 0.34,
  'reject': 216,
  'school': 'University of California, San Diego',
  'total': 300},
 {'accept': 13,
  'error': 0.0617391304347826,
  'experimental': 0.02826086956521739,
  'real': 0.09,
  'reject': 447,
  'school': 'University of Pennsylvania',
  'total': 460},
 {'accept': 62,
  'error': 0.06264367816091954,
  'experimental': 0.7126436781609196,
  'real': 0.65,
  'reject': 25,
  'school': 'University of Delaware',
  'total': 87},
 {'accept': 73,
  'error': 0.06287581699346406,
  'experimental': 0.477124183006536,
  'real': 0.54,
  'reject': 80,
  'school': 'University of Georgia',
  'total': 153},
 {'accept': 25,
  'error': 0.06333333333333335,
  'experimental': 0.8333333333333334,
  'real': 0.77,
  'reject': 5,
  'school': 'University of Tennessee',
  'total': 30},
 {'accept': 9,
  'error': 0.06493036211699164,
  'experimental': 0.025069637883008356,
  'real': 0.09,
  'reject': 350,
  'school': 'University of Chicago',
  'total': 359},
 {'accept': 25,
  'error': 0.06529411764705884,
  'experimental': 0.7352941176470589,
  'real': 0.67,
  'reject': 9,
  'school': 'University of North Carolina at Wilmington',
  'total': 34},
 {'accept': 47,
  'error': 0.066031746031746,
  'experimental': 0.746031746031746,
  'real': 0.68,
  'reject': 16,
  'school': 'Miami University',
  'total': 63},
 {'accept': 23,
  'error': 0.06619047619047619,
  'experimental': 0.27380952380952384,
  'real': 0.34,
  'reject': 61,
  'school': 'Brandeis University',
  'total': 84},
 {'accept': 22,
  'error': 0.06666666666666676,
  'experimental': 0.7333333333333333,
  'real': 0.8,
  'reject': 8,
  'school': 'College of Charleston',
  'total': 30},
 {'accept': 24,
  'error': 0.06727272727272726,
  'experimental': 0.7272727272727273,
  'real': 0.66,
  'reject': 9,
  'school': 'University of North Carolina at Charlotte',
  'total': 33},
 {'accept': 13,
  'error': 0.06859872611464968,
  'experimental': 0.041401273885350316,
  'real': 0.11,
  'reject': 301,
  'school': 'Vanderbilt University',
  'total': 314},
 {'accept': 26,
  'error': 0.06999999999999995,
  'experimental': 1.0,
  'real': 0.93,
  'school': 'University of Kansas',
  'total': 26},
 {'accept': 50,
  'error': 0.07264957264957267,
  'experimental': 0.42735042735042733,
  'real': 0.5,
  'reject': 67,
  'school': 'University of Central Florida',
  'total': 117},
 {'accept': 75,
  'error': 0.07319587628865987,
  'experimental': 0.7731958762886598,
  'real': 0.7,
  'reject': 22,
  'school': 'Virginia Polytechnic Institute and State University',
  'total': 97},
 {'accept': 16,
  'error': 0.07461538461538453,
  'experimental': 0.6153846153846154,
  'real': 0.69,
  'reject': 10,
  'school': 'West Chester University of Pennsylvania',
  'total': 26},
 {'accept': 55,
  'error': 0.07710144927536233,
  'experimental': 0.7971014492753623,
  'real': 0.72,
  'reject': 14,
  'school': 'Michigan State University',
  'total': 69},
 {'accept': 21,
  'error': 0.07741935483870965,
  'experimental': 0.6774193548387096,
  'real': 0.6,
  'reject': 10,
  'school': 'Florida Atlantic University',
  'total': 31},
 {'accept': 46,
  'error': 0.0802169197396963,
  'experimental': 0.09978308026030369,
  'real': 0.18,
  'reject': 415,
  'school': 'University of California, Los Angeles',
  'total': 461},
 {'accept': 33,
  'error': 0.08111111111111113,
  'experimental': 0.6111111111111112,
  'real': 0.53,
  'reject': 21,
  'school': 'University of Alabama',
  'total': 54},
 {'accept': 90,
  'error': 0.08217391304347832,
  'experimental': 0.6521739130434783,
  'real': 0.57,
  'reject': 48,
  'school': 'University of Massachusetts Amherst',
  'total': 138},
 {'accept': 22,
  'error': 0.08419753086419754,
  'experimental': 0.13580246913580246,
  'real': 0.22,
  'reject': 140,
  'school': 'Carnegie Mellon University',
  'total': 162},
 {'accept': 50,
  'error': 0.08592592592592596,
  'experimental': 0.9259259259259259,
  'real': 0.84,
  'reject': 4,
  'school': 'Arizona State University',
  'total': 54},
 {'accept': 47,
  'error': 0.08600000000000002,
  'experimental': 0.376,
  'real': 0.29,
  'reject': 78,
  'school': 'American University',
  'total': 125},
 {'accept': 34,
  'error': 0.086271186440678,
  'experimental': 0.576271186440678,
  'real': 0.49,
  'reject': 25,
  'school': 'Howard University',
  'total': 59},
 {'accept': 25,
  'error': 0.08818181818181825,
  'experimental': 0.5681818181818182,
  'real': 0.48,
  'reject': 19,
  'school': 'Worcester Polytechnic Institute',
  'total': 44},
 {'accept': 59,
  'error': 0.08821917808219182,
  'experimental': 0.8082191780821918,
  'real': 0.72,
  'reject': 14,
  'school': 'University of South Carolina',
  'total': 73},
 {'accept': 27,
  'error': 0.08999999999999997,
  'experimental': 0.9,
  'real': 0.81,
  'reject': 3,
  'school': 'Northern Arizona University',
  'total': 30},
 {'accept': 75,
  'error': 0.09403669724770641,
  'experimental': 0.3440366972477064,
  'real': 0.25,
  'reject': 143,
  'school': 'Boston University',
  'total': 218},
 {'accept': 36,
  'error': 0.09631578947368419,
  'experimental': 0.47368421052631576,
  'real': 0.57,
  'reject': 40,
  'school': 'Temple University',
  'total': 76},
 {'accept': 100,
  'error': 0.09948356807511738,
  'experimental': 0.4694835680751174,
  'real': 0.37,
  'reject': 113,
  'school': 'University of California, Irvine',
  'total': 213},
 {'accept': 51,
  'error': 0.10200000000000004,
  'experimental': 0.408,
  'real': 0.51,
  'reject': 74,
  'school': 'North Carolina State University',
  'total': 125},
 {'accept': 76,
  'error': 0.10375000000000001,
  'experimental': 0.59375,
  'real': 0.49,
  'reject': 52,
  'school': 'Florida State University',
  'total': 128},
 {'accept': 61,
  'error': 0.10522388059701493,
  'experimental': 0.4552238805970149,
  'real': 0.35,
  'reject': 73,
  'school': 'San Diego State University',
  'total': 134},
 {'accept': 39,
  'error': 0.10702702702702699,
  'experimental': 0.527027027027027,
  'real': 0.42,
  'reject': 35,
  'school': 'Stony Brook University',
  'total': 74},
 {'accept': 20,
  'error': 0.11054054054054058,
  'experimental': 0.5405405405405406,
  'real': 0.43,
  'reject': 17,
  'school': 'Marist College',
  'total': 37},
 {'accept': 24,
  'error': 0.11142857142857149,
  'experimental': 0.42857142857142855,
  'real': 0.54,
  'reject': 32,
  'school': 'Santa Clara University',
  'total': 56},
 {'accept': 25,
  'error': 0.11285714285714288,
  'experimental': 0.8928571428571429,
  'real': 0.78,
  'reject': 3,
  'school': 'University of Cincinnati',
  'total': 28},
 {'accept': 1,
  'error': 0.11629629629629629,
  'experimental': 0.003703703703703704,
  'real': 0.12,
  'reject': 269,
  'school': 'Johns Hopkins University',
  'total': 270},
 {'accept': 30,
  'error': 0.11782608695652175,
  'experimental': 0.6521739130434783,
  'real': 0.77,
  'reject': 16,
  'school': 'Towson University',
  'total': 46},
 {'accept': 33,
  'error': 0.12189189189189187,
  'experimental': 0.8918918918918919,
  'real': 0.77,
  'reject': 4,
  'school': 'University of Illinois at Chicago',
  'total': 37},
 {'accept': 22,
  'error': 0.12481481481481482,
  'experimental': 0.8148148148148148,
  'real': 0.69,
  'reject': 5,
  'school': 'University of Oklahoma',
  'total': 27},
 {'accept': 16,
  'error': 0.12975609756097561,
  'experimental': 0.3902439024390244,
  'real': 0.52,
  'reject': 25,
  'school': 'Providence College',
  'total': 41},
 {'accept': 32,
  'error': 0.12978417266187048,
  'experimental': 0.2302158273381295,
  'real': 0.36,
  'reject': 107,
  'school': 'Villanova University',
  'total': 139},
 {'accept': 25,
  'error': 0.1302439024390244,
  'experimental': 0.6097560975609756,
  'real': 0.74,
  'reject': 16,
  'school': 'Chapman University',
  'total': 41},
 {'accept': 23,
  'error': 0.1318518518518519,
  'experimental': 0.8518518518518519,
  'real': 0.72,
  'reject': 4,
  'school': 'West Virginia University',
  'total': 27},
 {'accept': 24,
  'error': 0.13290322580645164,
  'experimental': 0.3870967741935484,
  'real': 0.52,
  'reject': 38,
  'school': 'Loyola Marymount University',
  'total': 62},
 {'accept': 1,
  'error': 0.1346153846153846,
  'experimental': 0.015384615384615385,
  'real': 0.15,
  'reject': 64,
  'school': 'Barnard College',
  'total': 65},
 {'accept': 20,
  'error': 0.13516129032258062,
  'experimental': 0.6451612903225806,
  'real': 0.51,
  'reject': 11,
  'school': 'Mount Holyoke College',
  'total': 31},
 {'accept': 35,
  'error': 0.1418518518518519,
  'experimental': 0.6481481481481481,
  'real': 0.79,
  'reject': 19,
  'school': 'East Carolina University',
  'total': 54},
 {'accept': 20,
  'error': 0.14500000000000002,
  'experimental': 0.625,
  'real': 0.48,
  'reject': 12,
  'school': 'Muhlenberg College',
  'total': 32},
 {'accept': 44,
  'error': 0.14652173913043476,
  'experimental': 0.9565217391304348,
  'real': 0.81,
  'reject': 2,
  'school': 'University of Iowa',
  'total': 46},
 {'accept': 68,
  'error': 0.14714285714285708,
  'experimental': 0.6071428571428571,
  'real': 0.46,
  'reject': 44,
  'school': 'University of Washington',
  'total': 112},
 {'accept': 3,
  'error': 0.14827586206896554,
  'experimental': 0.05172413793103448,
  'real': 0.2,
  'reject': 55,
  'school': 'Davidson College',
  'total': 58},
 {'accept': 84,
  'error': 0.14897435897435898,
  'experimental': 0.358974358974359,
  'real': 0.21,
  'reject': 150,
  'school': 'Tulane University',
  'total': 234},
 {'accept': 54,
  'error': 0.14986301369863012,
  'experimental': 0.3698630136986301,
  'real': 0.22,
  'reject': 92,
  'school': 'Emory University',
  'total': 146},
 {'accept': 53,
  'error': 0.15005847953216378,
  'experimental': 0.30994152046783624,
  'real': 0.46,
  'reject': 118,
  'school': 'Fordham University',
  'total': 171},
 {'accept': 89,
  'error': 0.15531249999999996,
  'experimental': 0.6953125,
  'real': 0.54,
  'reject': 39,
  'school': 'University of Wisconsin - Madison',
  'total': 128},
 {'accept': 0,
  'error': 0.16,
  'experimental': 0,
  'real': 0.16,
  'reject': 38,
  'school': 'Pitzer College',
  'total': 38},
 {'accept': 57,
  'error': 0.16076923076923078,
  'experimental': 0.7307692307692307,
  'real': 0.57,
  'reject': 21,
  'school': 'University of California, Riverside',
  'total': 78},
 {'accept': 33,
  'error': 0.1618918918918919,
  'experimental': 0.8918918918918919,
  'real': 0.73,
  'reject': 4,
  'school': 'San Francisco State University',
  'total': 37},
 {'accept': 5,
  'error': 0.16333333333333336,
  'experimental': 0.16666666666666666,
  'real': 0.33,
  'reject': 25,
  'school': 'Scripps College',
  'total': 30},
 {'accept': 38,
  'error': 0.16476190476190478,
  'experimental': 0.9047619047619048,
  'real': 0.74,
  'reject': 4,
  'school': 'Ohio University',
  'total': 42},
 {'accept': 24,
  'error': 0.16888888888888887,
  'experimental': 0.8888888888888888,
  'real': 0.72,
  'reject': 3,
  'school': 'Westminster College',
  'total': 27},
 {'accept': 21,
  'error': 0.16999999999999993,
  'experimental': 0.7,
  'real': 0.53,
  'reject': 9,
  'school': 'University of Tampa',
  'total': 30},
 {'accept': 26,
  'error': 0.17666666666666675,
  'experimental': 0.8666666666666667,
  'real': 0.69,
  'reject': 4,
  'school': 'Texas Tech University',
  'total': 30},
 {'accept': 14,
  'error': 0.18441860465116278,
  'experimental': 0.32558139534883723,
  'real': 0.51,
  'reject': 29,
  'school': 'Florida International University',
  'total': 43},
 {'accept': 7,
  'error': 0.18444444444444447,
  'experimental': 0.15555555555555556,
  'real': 0.34,
  'reject': 38,
  'school': 'Kenyon College',
  'total': 45},
 {'accept': 19,
  'error': 0.19549019607843138,
  'experimental': 0.07450980392156863,
  'real': 0.27,
  'reject': 236,
  'school': 'University of Virginia',
  'total': 255},
 {'accept': 52,
  'error': 0.19666666666666666,
  'experimental': 0.6666666666666666,
  'real': 0.47,
  'reject': 26,
  'school': 'University of South Florida',
  'total': 78},
 {'accept': 24,
  'error': 0.19714285714285706,
  'experimental': 0.8571428571428571,
  'real': 0.66,
  'reject': 4,
  'school': 'University of San Francisco',
  'total': 28},
 {'accept': 31,
  'error': 0.21487179487179486,
  'experimental': 0.7948717948717948,
  'real': 0.58,
  'reject': 8,
  'school': 'University of Denver',
  'total': 39},
 {'accept': 88,
  'error': 0.21571428571428575,
  'experimental': 0.7857142857142857,
  'real': 0.57,
  'reject': 24,
  'school': 'Purdue University',
  'total': 112},
 {'accept': 9,
  'error': 0.21625,
  'experimental': 0.09375,
  'real': 0.31,
  'reject': 87,
  'school': 'Bucknell University',
  'total': 96},
 {'accept': 33,
  'error': 0.21744186046511627,
  'experimental': 0.7674418604651163,
  'real': 0.55,
  'reject': 10,
  'school': 'California State Polytechnic University, Pomona',
  'total': 43},
 {'accept': 49,
  'error': 0.22230769230769232,
  'experimental': 0.9423076923076923,
  'real': 0.72,
  'reject': 3,
  'school': 'State University of New York College at Geneseo',
  'total': 52},
 {'accept': 81,
  'error': 0.22393442622950815,
  'experimental': 0.6639344262295082,
  'real': 0.44,
  'reject': 41,
  'school': 'University of Maryland',
  'total': 122},
 {'accept': 29,
  'error': 0.22878787878787876,
  'experimental': 0.8787878787878788,
  'real': 0.65,
  'reject': 4,
  'school': 'University of the Pacific',
  'total': 33},
 {'accept': 63,
  'error': 0.23323529411764707,
  'experimental': 0.4632352941176471,
  'real': 0.23,
  'reject': 73,
  'school': 'Georgia Institute of Technology',
  'total': 136},
 {'accept': 121,
  'error': 0.2402777777777778,
  'experimental': 0.8402777777777778,
  'real': 0.6,
  'reject': 23,
  'school': 'University of Pittsburgh',
  'total': 144},
 {'accept': 37,

In [148]:
output_df = pd.DataFrame(flatten_dict, columns=['school', 'error', 'experimental', 'real', 'accept', 'reject', 'total'])
output_df

,school,error,experimental,real,accept,reject,total
0,University of San Diego,0.000000,0.500000,0.50,20,20.0,40
1,Bryant University,0.000769,0.730769,0.73,19,7.0,26
2,University of Arizona,0.002162,0.837838,0.84,31,6.0,37
3,University of Oregon,0.003077,0.826923,0.83,43,9.0,52
4,University of Vermont,0.003333,0.666667,0.67,70,35.0,105
5,University of Rhode Island,0.006970,0.696970,0.69,23,10.0,33
6,Colorado State University,0.008710,0.838710,0.83,26,5.0,31
7,Hofstra University,0.009565,0.630435,0.64,29,17.0,46
8,Christopher Newport University,0.009730,0.729730,0.72,27,10.0,37
9,"California Polytechnic State University, San L...",0.013128,0.363128,0.35,65,114.0,179
10,Reed College,0.019091,0.340909,0.36,15,29.0,44
11,Binghamton University,0.019835,0.380165,0.40,46,75.0,121
12,University of North Carolina at Chapel Hill,0.021022,0.218978,0.24,60,214.0,274
13,Fairfield University,0.026364,0.636364,0.61,21,12.0,33
14,George Mason University,0.028182,0.781818,0.81,43,12.0,55
15,Ursinus College,0.030000,0.750000,0.78,24,8.0,32
16,University of Miami,0.031304,0.391304,0.36,27,42.0,69
17,Appalachian State University,0.034694,0.734694,0.70,36,13.0,49
18,University of New Hampshire,0.036667,0.733333,0.77,44,16.0,60
19,Princeton University,0.037011,0.022989,0.06,10,425.0,435
20,Southern Methodist University,0.037170,0.452830,0.49,24,29.0,53
21,University of North Florida,0.038276,0.551724,0.59,16,13.0,29
22,St. John's University,0.043077,0.723077,0.68,47,18.0,65
23,University at Albany,0.043333,0.583333,0.54,28,20.0,48
24,Harvard College,0.043779,0.006221,0.05,4,639.0,643
25,Louisiana State University,0.043784,0.783784,0.74,29,8.0,37
26,Stanford University,0.045290,0.004710,0.05,3,634.0,637
27,Pepperdine University,0.045833,0.354167,0.40,17,31.0,48
28,Rensselaer Polytechnic Institute,0.047064,0.477064,0.43,52,57.0,109
29,University of Southern California,0.047460,0.112540,0.16,35,276.0,311
...,...,...,...,...,...,...,...
101,Texas Tech University,0.176667,0.866667,0.69,26,4.0,30
102,Florida International University,0.184419,0.325581,0.51,14,29.0,43
103,Kenyon College,0.184444,0.155556,0.34,7,38.0,45
104,University of Virginia,0.195490,0.074510,0.27,19,236.0,255
105,University of South Florida,0.196667,0.666667,0.47,52,26.0,78
106,University of San Francisco,0.197143,0.857143,0.66,24,4.0,28
107,University of Denver,0.214872,0.794872,0.58,31,8.0,39
108,Purdue University,0.215714,0.785714,0.57,88,24.0,112
109,Bucknell University,0.216250,0.093750,0.31,9,87.0,96
110,"California State Polytechnic University, Pomona",0.217442,0.767442,0.55,33,10.0,43
111,State University of New York College at Geneseo,0.222308,0.942308,0.72,49,3.0,52
112,University of Maryland,0.223934,0.663934,0.44,81,41.0,122
113,University of the Pacific,0.228788,0.878788,0.65,29,4.0,33
114,Georgia Institute of Technology,0.233235,0.463235,0.23,63,73.0,136
115,University of Pittsburgh,0.240278,0.840278,0.60,121,23.0,144
116,Loyola University Maryland,0.242439,0.902439,0.66,37,4.0,41
117,University of Rochester,0.247377,0.557377,0.31,34,27.0,61
118,Colgate University,0.258261,0.021739,0.28,2,90.0,92
119,Elon University,0.260556,0.930556,0.67,67,5.0,72
120,Occidental College,0.262105,0.157895,0.42,6,32.0,38
121,Syracuse University,0.267374,0.737374,0.47,73,26.0,99
122,San Jose State University,0.278571,0.828571,0.55,29,6.0,35
123,University of North Carolina at Greensboro,0.280000,0.500000,0.78,14,14.0,28
124,Colorado School of Mines,0.282927,0.682927,0.40,28,13.0,41
125,University at Buffalo,0.291111,0.861111,0.57,31,5.0,36
126,Union College,0.292162,0.662162,0.37,49,25.0,74
127,Rochester Institute of Technology,0.315714,0.885714,0.57,31,4.0,35
128,North Carolina A&T State University,0.338750,0.281250,0.62,9,23.0,32
129,Wheaton College,0.353333,0.833333,0.48,45,9.0,54
130,Penn State University Park,0.369767,0.869767,0.50,187,28.0,215