In [9]:
import pandas as pd
import sqlite3
import re

conn = sqlite3.connect("profiles.db")
cursor = conn.cursor()
cursor.execute("ATTACH DATABASE 'colleges.db' AS colleges")

# print(cursor.execute("""
# SELECT * from colleges.university_profiles as c JOIN profiles as p on c.school=p.school limit 2
# """).fetchall())

def convert_class_rank(cr_str):
    cr = cr_str.split(' ')
    return int(cr[0])/int(cr[2])

def get_type_map(df_column):
    return {t:i for i, t in enumerate(set(df_column))}

def convert_sat_to_act(sat):
    if sat >= 2380:
        return 36
    if sat < 2380 and sat >= 2290:
        return 35
    if sat < 2290 and sat >= 2220:
        return 34
    if sat < 2220 and sat >= 2140:
        return 33
    if sat < 2140 and sat >= 2080:
        return 32
    if sat < 2080 and sat >= 2020:
        return 31
    if sat < 2020 and sat >= 1980:
        return 30
    if sat < 1980 and sat >= 1920:
        return 29
    if sat < 1920 and sat >= 1860:
        return 28
    if sat < 1860 and sat >= 1800:
        return 27
    if sat < 1800 and sat >= 1740:
        return 26
    if sat < 1740 and sat >= 1680:
        return 25
    if sat < 1680 and sat >= 1620:
        return 24
    if sat < 1620 and sat >= 1560:
        return 23
    if sat < 1560 and sat >= 1510:
        return 22
    if sat < 1510 and sat >= 1450:
        return 21
    if sat < 1450 and sat >= 1390:
        return 20
    if sat < 1390 and sat >= 1330:
        return 19
    if sat < 1330 and sat >= 1270:
        return 18
    if sat < 1270 and sat >= 1210:
        return 17
    if sat < 1210 and sat >= 1140:
        return 16
    if sat < 1140 and sat >= 1060:
        return 15
    if sat < 1060 and sat >= 990:
        return 14
    if sat < 990:
        return 13

df = pd.read_sql_query("SELECT * from colleges.university_profiles as c JOIN profiles as p on c.school=p.school",conn)
#df = pd.read_sql_query("SELECT * from colleges.university_profiles as c JOIN profiles as p on c.school=p.school where c.school like '%University Park%' and act not like 'None' and gpa_w not like 'None'",conn)
# df  = pd.read_sql_query("SELECT * from profiles", conn)

# CLEAN UNIVERSITY DATA
# drop sat averages
for col in ['sat_math', 'sat_reading', 'sat_writing']:
    df = df.drop(col, axis=1)
# remove duplicate school column
df = df.loc[:,~df.columns.duplicated()]
# handle nones in all columns
df.fillna(value=pd.np.nan, inplace=True)
# remove - in avg_act
df['avg_act'] = df['avg_act'].map(lambda x: str(x).strip('-'))
# cost attendance in state vs out state
df['cost_attendance'] = df['cost_attendance'].map(lambda x: x[x.find("$")+1:x.find("<")-1] if not isinstance(x,float) else x)
# fix faculty total none as string bug
df["faculty_total"] = df["faculty_total"].map(lambda x : None if x == "None" else x)
# weird act nan bug
df = df[df.avg_act != "nan"]

# CLEAN INDIVIDUAL PROFILES
# sums profiles sat individual scores and drops them
df['sat_c'] = df['sat_m']+df['sat_r']+df['sat_w']
for col in ['sat_m', 'sat_r', 'sat_w']:
    df = df.drop(col, axis=1)
# converts all sat to act if act is not present
df['act'] = df.apply(lambda x: convert_sat_to_act(x['sat_c'])if pd.isnull(x['act']) else x['act'],axis=1)
# drop nan
df = df.dropna()
# drop class ranks that are not in "1 of 200" format
df = df[df.class_rank.str.match('\d* (of) \d*', na=False)]
# converts class rank to decimal
df['class_rank'] = df['class_rank'].apply(lambda x: convert_class_rank(x))
# convert string label to int
replace_columns = ['hs_type', 'gender', 'status', 'hs_state', 'school', 'institution_type', 'state', 'city']
df['status'].replace({'Deferred': 'Denied', 'Wait-Listed': 'Denied', 'Will Attend': 'Accepted'}, inplace=True)
for col in replace_columns:
    df[col].replace(get_type_map(df[col]), inplace=True)

In [19]:
from sklearn.model_selection import train_test_split

X = df.drop('year', axis=1)
X = X.drop('status', axis=1)
X = X.drop('athlete', axis=1)
X = X.drop('sat_c', axis=1)
    
y = df['status']
X_train, X_test, y_train, y_test = train_test_split(X, y)

school                   18835
state                    18835
city                     18835
avg_gpa                  18835
avg_act                  18835
cost_attendance          18835
average_freshman_aid     18835
admission_rate           18835
faculty_total            18835
international_percent    18835
institution_type         18835
female_percentage        18835
year                     18835
gender                   18835
hs_type                  18835
hs_state                 18835
gpa_w                    18835
gpa_uw                   18835
act                      18835
class_rank               18835
status                   18835
eaed                     18835
legacy                   18835
athlete                  18835
sat_c                    18835
dtype: int64

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
print(X_test)
X_test = scaler.transform(X_test)

       school  state  city avg_gpa avg_act cost_attendance  \
72549      28     45    43    3.50      23            2428
76889     536     14    96    4.02      32            3060
29805     235      3   150    3.66      27             693
47917     128      6   362    3.94      31             661
63406     405     50   220    3.50      30             662
83428     666     27   500    4.27      31            3150
7745      563     24   512    2.85      23            2404
7445      415     24   295    3.83      28            2547
77799     207     32   239    3.93      33             703
75408     326     50   433    3.93      28            2250
33302     655     44   485    4.18      34             696
57186     489      6   135    3.70      25            2822
47084     238      6   387    3.69      30             694
11483     319     24   253    3.63      25             654
34462     564     44   308    3.71      26             697
83795     589     27   437    3.24      19             505
41339     637      6   342    3.32      24             537
56014     114      6   471    3.68      21             598
90161     194     36   332    3.40      25             528
60        571     24    66    3.52      25             567
38368     479      8   176    3.80      31            3364
1066      435     24   496    3.50      26             604
18812     396     44     3    3.89      28            3025
40325     390      6   156    3.74      21             483
53352     169     32   239    3.42      25             634
68622     154     10    97    3.57      23            2692
85780      11     13   331    4.67      30            2381
17344     317     33   305    3.66      28            3327
2008      200     12   315    3.45      25             590
13186     531     44   308    3.66      31             703
...       ...    ...   ...     ...     ...             ...
58162     510     14    72    4.00      29            2640
4454      456      3   150    3.85      33             743
68655     154     10    97    3.57      23            2692
33638     655     44   485    4.18      34             696
47480     128      6   362    3.94      31             661
85908      11     13   331    4.67      30            2381
67790     197      6   256    4.36      29            3048
44491     327      8   298    3.62      25            2646
81464     187     28   302    3.56      30             707
69730     162      6   256    3.76      30             707
83302     666     27   500    4.27      31            3150
85742      11     13   331    4.67      30            2381
90375     532     23   470    3.84      29            2569
76590     536     14    96    4.02      32            3060
30807     545     49   426    3.05      24             565
27155     121     35   337    3.84      29            2952
9267      286     12   316    3.91      31             665
53250     169     32   239    3.42      25             634
53005     297     32   472    3.50      25             558
70582     471     29   416    3.62      29             747
8648      286     12   316    3.91      31             665
5044      456      3   150    3.85      33             743
47359     128      6   362    3.94      31             661
65028     507      6    57    3.87      29            3577
82165     631      9   278    3.80      32             654
77304     448     50    93    4.04      23            2223
88955     401     38    99    3.71      25            2779
47813     128      6   362    3.94      31             661
47927     128      6   362    3.94      31             661
66859     635      6     7    4.08      29            2753

      average_freshman_aid admission_rate faculty_total international_percent  \
72549                14375             62          1022                   1.4
76889                14735             23          1115                   9.0
29805                42948             79          1108                   11.
47917                53337              5          1613                   9.1
63406                46432             36          1115                   14.
83428                29009             27          1482                   4.4
7745                 11532             53           374                   0.9
7445                 14202             42          1075                   14.
77799                41053             12           637                   9.4
75408                 8544             50          1572                   1.8
33302                55354              5           975                   11.
57186                 9700             35           876                   7.1
47084                38585             54           542                   3.9
11483                38450             47          1129                   12.
34462                25664             46           202                   9.1
83795                26090             71            91                   3.1
41339                22083             69           274                   3.1
56014                37400             73           190                   3.5
90161                34185             72           115                   1.0
60                   21500             73           335                   4.0
38368                15356             40           285                   6.8
1066                 30684             68           638                   3.7
18812                17495             57          1351                   5.9
40325                25615             60           485                   2.9
53352                32616             66           369                   1.0
68622                13241             81          1132                   4.4
85780                17732             24          1672                   2.7
17344                26574             67           629                   5.1
2008                 15530             79           459                   2.6
13186                47702             25          1839                   21.
...                    ...            ...           ...                   ...
58162                13999             54          2028                   1.6
4454                 49401              9          1519                   12.
68655                13241             81          1132                   4.4
33638                55354              5           975                   11.
47480                53337              5          1613                   9.1
85908                17732             24          1672                   2.7
67790                24405             18          1570                   11.
44491                11572             83          1318                   3.4
81464                45405             21           767                   4.2
69730                52795             16          2133                   13.
83302                29009             27          1482                   4.4
85742                17732             24          1672                   2.7
90375                16644             54          2392                   8.5
76590                14735             23          1115                   9.0
30807                27225             81           355                   5.1
27155                27050             29          2791                   7.1
9267                 54310              6           959                   11.
53250                32616             66           369                   1.0
53005                39191             85           133                   3.5
70582                43715             49           758                   8.6
8648                 54310              6           959                   11.
5044                 49401              9          1519                   12.
47359                53337              5          1613                   9.1
65028                24668             15          1623                   13.
82165                50356             11           956                   7.1
77304                13295             60           826                   3.0
88955                13284             65          1198                   4.0
47813                53337              5          1613                   9.1
47927                53337              5          1613                   9.1
66859                24736             34          1123                   19.

        ...    female_percentage gender  hs_type  hs_state  gpa_w  gpa_uw  \
72549   ...                 59.5      0        1        50   4.00    3.77
76889   ...                 38.0      2        1        45   4.30    3.91
29805   ...                 48.3      0        1        12   4.24    3.69
47917   ...                 48.5      2        1        29   4.87    4.00
63406   ...                 52.3      0        0        55   3.89    3.57
83428   ...                 54.7      0        1        49   4.08    3.45
7745    ...                 56.9      0        1        26   3.60    3.55
7445    ...                 46.7      0        1        12   3.80    3.80
77799   ...                 50.6      2        0        29   4.20    4.00
75408   ...                 54.3      2        1        55   3.70    3.00
33302   ...                 47.7      0        1        49   4.54    4.00
57186   ...                 54.2      0        1         6   4.37    3.66
47084   ...                 49.8      0        1         6   4.80    3.99
11483   ...                 53.9      0        1         3   4.00    3.80
34462   ...                 59.5      0        1        49   4.29    3.75
83795   ...                 59.7      0        1        25   4.21    3.46
41339   ...                 63.7      2        1        45   4.26    3.98
56014   ...                 57.4      0        1        33   4.05    4.00
90161   ...                 53.8      0        1         6   4.75    4.00
60      ...                 68.4      0        1         3   4.14    3.67
38368   ...                 27.9      2        1         6   4.00    3.86
1066    ...                 57.6      0        1         6   4.05    4.00
18812   ...                 49.8      0        1        54   3.70    3.30
40325   ...                 66.1      0        1         6   3.80    3.60
53352   ...                 57.3      0        1        35   4.17    3.72
68622   ...                 60.0      2        1         6   3.75    3.51
85780   ...                 58.8      0        1        32   4.84    3.65
17344   ...                 58.0      2        1        49   3.82    3.50
2008    ...                 58.8      0        1        12   3.85    3.85
13186   ...                 60.1      0        1        26   3.80    3.70
...     ...                  ...    ...      ...       ...    ...     ...
58162   ...                 56.8      2        3        55   4.31    3.86
4454    ...                 51.0      0        0        40   4.60    4.00
68655   ...                 60.0      2        1        10   3.70    3.10
33638   ...                 47.7      0        1        21   4.60    4.00
47480   ...                 48.5      0        1        32   4.93    3.98
85908   ...                 58.8      2        1        25   4.10    3.95
67790   ...                 57.5      0        1         6   4.30    4.00
44491   ...                 51.9      2        1         8   3.83    3.56
81464   ...                 59.1      0        1         6   3.52    3.48
69730   ...                 51.5      0        1         6   3.81    3.69
83302   ...                 54.7      0        1        35   4.33    3.91
85742   ...                 58.8      2        1         3   4.26    3.95
90375   ...                 51.2      0        1        40   4.33    3.90
76590   ...                 38.0      2        1        29   3.40    3.10
30807   ...                 51.1      0        1        26   3.70    3.70
27155   ...                 49.8      2        1        42   4.19    3.99
9267    ...                 48.6      2        1        46   4.37    3.85
53250   ...                 57.3      0        1        26   4.00    4.00
53005   ...                 50.9      2        1        25   4.30    4.00
70582   ...                 49.5      2        3        32   4.00    3.86
8648    ...                 48.6      0        1        55   4.80    3.95
5044    ...                 51.0      2        1        54   4.92    4.00
47359   ...                 48.5      0        0         6   4.50    3.90
65028   ...                 52.1      0        1        19   4.63    3.89
82165   ...                 50.5      2        1        21   4.50    3.90
77304   ...                 55.9      2        1        55   4.40    3.16
88955   ...                 57.6      0        0         3   3.96    3.96
47813   ...                 48.5      0        1         1   4.80    4.00
47927   ...                 48.5      0        3         1   4.34    4.00
66859   ...                 49.3      0        1         6   4.16    3.92

        act  class_rank  eaed  legacy
72549  20.0    0.116608     0       0
76889  35.0    0.040000     0       0
29805  29.0    0.060784     1       0
47917  35.0    0.003125     0       0
63406  22.0    0.348837     0       0
83428  23.0    0.059091     0       0
7745   24.0    0.289256     0       0
7445   27.0    0.147239     0       0
77799  35.0    0.007692     0       0
75408  23.0    0.279783     0       0
33302  35.0    0.022222     0       0
57186  28.0    0.095238     0       0
47084  32.0    0.008427     0       0
11483  32.0    0.063559     0       0
34462  28.0    0.030769     1       0
83795  25.0    0.272472     1       0
41339  32.0    0.055288     0       0
56014  26.0    0.007313     0       0
90161  31.0    0.006667     0       0
60     27.0    0.084956     0       0
38368  31.0    0.155396     0       0
1066   24.0    0.055866     0       0
18812  29.0    0.063415     0       0
40325  25.0    0.097059     0       0
53352  26.0    0.090395     1       0
68622  24.0    0.177866     0       0
85780  31.0    0.107595     1       0
17344  28.0    0.145833     1       0
2008   24.0    0.107143     0       0
13186  28.0    0.096250     0       0
...     ...         ...   ...     ...
58162  30.0    0.141176     1       0
4454   34.0    0.006667     0       0
68655  19.0    0.277778     0       0
33638  32.0    0.002353     0       0
47480  35.0    0.051756     0       1
85908  25.0    0.003401     0       0
67790  36.0    0.010309     0       0
44491  31.0    0.170068     0       0
81464  22.0    0.300412     0       0
69730  22.0    0.136778     0       0
83302  32.0    0.036782     0       0
85742  31.0    0.045872     1       0
90375  33.0    0.012000     0       0
76590  29.0    0.467153     0       0
30807  20.0    0.131115     0       0
27155  35.0    0.004274     0       0
9267   34.0    0.122024     0       0
53250  27.0    0.060241     1       0
53005  34.0    0.011494     0       1
70582  32.0    0.034146     1       0
8648   32.0    0.019324     0       0
5044   35.0    0.003676     0       0
47359  30.0    0.039801     0       0
65028  35.0    0.011594     0       0
82165  28.0    0.089835     0       0
77304  19.0    0.537915     0       0
88955  25.0    0.025641     0       0
47813  31.0    0.001667     1       0
47927  34.0    0.016393     1       0
66859  30.0    0.086777     0       0

[4709 rows x 21 columns]

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype int64, float64, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/marclane/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64, float64, object were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.
/home/marclane/.local/lib/python3.6/site-packages/ipykernel_launcher.py:6: DataConversionWarning: Data with input dtype int64, float64, object were all converted to float64 by StandardScaler.

In [12]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(8,8,8),max_iter=1000)

In [13]:
mlp.fit(X_train,y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(8, 8, 8), learning_rate='constant',
       learning_rate_init=0.001, max_iter=1000, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [14]:
predictions = mlp.predict(X_test)

In [15]:
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

[[3385  283]
 [ 417  624]]
              precision    recall  f1-score   support

           0       0.89      0.92      0.91      3668
           1       0.69      0.60      0.64      1041

   micro avg       0.85      0.85      0.85      4709
   macro avg       0.79      0.76      0.77      4709
weighted avg       0.85      0.85      0.85      4709

In [16]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression()
logisticRegr.fit(X_train, y_train)
score = logisticRegr.score(X_test, y_test)
print(score)

0.8381822042896581

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [17]:
import matplotlib.pyplot as plt

statuses = cursor.execute("SELECT status, act, gpa_w from colleges.university_profiles as c JOIN profiles as p on c.school=p.school where c.school like '%University Park%' and status not like 'will%' and act not like 'None' and gpa_w not like 'None'").fetchall()
colors = {"Accepted":"g", "Denied":"r", "Wait-Listed":"y", "Deferred":"orange"}
x = [t[1] for t in statuses]
y = [t[2] for t in statuses]
c = [colors[t[0]] for t in statuses]
plt.ylabel("Weighted GPA")
plt.xlabel("ACT Score")
plt.title("Raw Penn State Acceptance vs. Rejection vs. Wait-Listed")
plt.scatter(x, y, c=c)

# statuses = cursor.execute("SELECT status, sat_m+sat_r+sat_w, gpa_w from colleges.university_profiles as c JOIN profiles as p on c.school=p.school where c.school like '%University Park%' and status not like 'will%' and act not like 'None' and gpa_w not like 'None'").fetchall()
# colors = {0:"g", 1:"r"}
# x = df['act']
# y = df['gpa_w']
# c = [colors[b] for b in df['status']]
# plt.ylabel("Weighted GPA")
# plt.xlabel("ACT Score")
# plt.title("Predicted Penn State Acceptance vs. Rejection")
# plt.scatter(x, y, c=c)